@import '../../scss/globals.scss';

.m-panelSectionHeader {
  @include font--h6;
  align-items: center;
  display: grid;
  grid-template: 'icon title' / 2rem auto;
  padding: 2.25rem 1rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  position: relative !important;

  &-icon {
    $color: $dark_yellow;
    fill: $color;
    color: $color;
    font-size: 1.5rem;
  }

  .svgIcon {
    height: 1.5rem;
  }
}