.o__programs-table--row {
  display: block;
  margin: 0.6em 0;
  padding: 0.6em 0.9em;
  border-radius: 5px;
  border: 1px solid rgba($mystic_grey, 1);

  .table-row {
    &--name {
      flex: 1 0 auto;
      width: 100%;
      color: rgba($midnight, 1);

      svg.svg-isa-fill {
        position: relative;
        margin: 0 0.6em 0 0;
        top: unset;
        left: unset;
        min-width: 22px;
        fill: rgba($green_haze, 1);
      }
      h4{
        color:$raven_grey;
        font-size:0.9em;
      }
    }
  
    &--status {
      display: none;
      margin-left: 6.2em;
      margin-top: -1.2em;
      float: left;
      margin-right: 0.5em;
      
      h3{
        font-size:0.9em;
        font-weight: 600
      }
    }
  
    &--enrollment {
      display: none;
      margin-left: 2em;
      margin-bottom: 0.5em;
      margin-top: -1.2em;
      h3{
        font-size:0.9em;
        font-weight: 600;
      }
    }
  
    &--certified {
        color:$midnight;
        float: left;
        margin-left: 2.2em;
        h4{
          font-size:0.9em;
        }
    }
  
    &--disbursed {
      color:$midnight;
      float: left;
      //font-size: small;
      h4{
        font-size:0.9em;
      }
    }
  
    &--agreements {
      color:$midnight;
      h4{
        font-size:0.9em;
      }
    }
  }

  &.closed {
    background-color: rgba($mystic_grey, 0.6);
    border: 1px solid transparent;
    
    .table-row {
      &--name {
        svg.svg-isa-fill {
          fill: rgba($horizon_blue, 1);
        }
        h4{
          color:$raven_grey;
          font-size:0.9em;
        }
      }
    }
  }

  &:hover,
  &:focus {
    border: 1px solid rgba($highlight_blue, 1);
  }

  svg.svg-arrow-up {
    display: none;
    position: absolute;
    right: 5px;
    transform: rotate(90deg);
    fill: rgba($raven_grey, 1);
  }
  
  @include breakpoint($tablet) {
    display: flex;
    .table-row {
      &--name {
        h4{
          color:inherit;
          font-size:inherit;
        }
      }
    
      &--status {
        display: block;
        margin-left: 0em;
        margin-top: 0em;
        float: none;
        margin-right:0em;
        
        h3{
          font-size:1.125em;;
        }
      }
    
      &--enrollment {
        display: block;
        margin-left: 0em;
        margin-bottom: unset;
        margin-top: 0em;
        h3{
          font-size:1.125em;;
        }
      }
    
      &--certified {
        color:$raven_grey;
        float: none;
        margin-left: 0em;
        font-size: inherit;
      }
    
      &--disbursed {
        color:$raven_grey;
        float: none;
        font-size: inherit;
      }
    
      &--agreements {
        color:$raven_grey;
        font-size: inherit;
      }
    }

    svg.svg-arrow-up {
      display: block;
    }
  }
}
