.o__programs-table {
  align-items: center;

  .table-cell {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;

    &--name {
    }

    &--status {
    }

    &--enrollment {
    }

    &--certified {

    }

    &--disbursed {

    }

    &--agreements {

    }
    h4.secondary {
      //display: none;
      color:$raven_grey;
      font-size: 0.825em;
    }
  }

  @include breakpoint($tablet) {
    
    .table-cell {
      width: 100%;

      h4.secondary {
        display: none;
        font-size: inherit;

      }

      &--name {
        width: 30%;
      }

      &--status {
        width: 15%;
      }
  
      &--enrollment {
        width: 15%;
      }
  
      &--certified {
        width: 15%;
      }
  
      &--disbursed {
        width: 15%;
      }
  
      &--agreements {
        width: 10%;
      }
    }
  }
}
