.o__agreements-table--row {
  padding: .9em 2.1em;
  
  .table-row--student-name {
    flex-wrap: wrap;
    color: rgba($midnight, 1);

    p {
      display: none;
    }

    svg.svg-applications-fill {
      position: absolute;
      top: 0;
      left: -1.8em;
      margin: 0 0.3em 0 0;
      fill: rgba($dark_yellow, 1);
    }
  }

  .table-row--isa-program-name {
    font-size: 0.8em;
    font-weight: 300;
  }

  .table-row--contract-num {
    margin: 0.9em 0 0;
  }

  .table-row--status {
    color: rgba($vemo_blue, 1);
  }

  svg.svg-arrow-up {
    display: none;
  }

  &.closed {
    background-color: rgba($mystic_grey, 0.6);
    border: 1px solid transparent;
    
    .table-row {
      &--student-name {
        svg.svg-applications-fill {
          fill: rgba($dark_grey, 1);
        }
      }
    }

    .table-row--status {
      color: rgba($dark_grey, 1);
    }
  }
  .agreement-label{
    //display: block;
    margin-left: 0.5em;
    font-size: .8125em;
    font-weight: 400;
  }
  .agreement-value {
    font-size: .8125em;
    font-weight: 400;
  }
  .funding-div{
     margin-top: 0.5em;
  }

  @include breakpoint($tablet) {
    padding: .9em;

    .table-row--student-name {
      flex-wrap: nowrap;
      
      p {
        display: block;
      }

      svg.svg-applications-fill {
        position: relative;
        top: unset;
        left: unset;
      }
    }
  
    .table-row--isa-program-name {
      font-size: inherit;
      font-weight: unset;
    }

    .table-row--contract-num {

    }
  
    .table-row--status {
  
    }
    .agreement-label{
      display: none;
      margin-left: 0em;
      font-weight: bold;
    }
    .funding-div{
      margin-top: 0em;
   }
   .agreement-value {
    font-size: inherit;
    font-weight: inherit;
  }

  }
}
