.o__agreements-table {
  position: relative;
  
  .table-cell {
    &--student-name {
      width: 100%;
    }

    &--program-name {
      width: 100%;
    }

    &--status {
      position: absolute;
      top: 0.9em;
      right: 20px;
    }
  }

  @include breakpoint($tablet) {
    .table-cell {
      &--student-name {
        width: 25%;
      }

      &--program-name {
        width: 30%;
        padding: 0 0.9em 0 0;
      }

      &--contract-num {
        display: none;
      }

      &--funding-amount {
        width: 15%;
      }

      &--grad-date {
        width: 15%;
      }

      &--status {
        position: relative;
        top: unset;
        right: unset;
        width: 15%;
      }
    }
  }
}
