@import '../../scss/globals.scss';

.o-search {
  align-content: center;
  border-radius: 1.5rem;
  border: 1px solid $mystic_grey;
  display: grid;
  grid-template:
    "categories input button" min-content
    / min-content auto min-content;

  &-categories {
    color: $ghost--contrastText;
    fill: $ghost--contrastText;
    border-right: 1px solid $ghost;
    grid-area: categories;
    display: flex;
    align-items: center;
    align-self: stretch;
    position: relative;
    border-radius: 1rem 0 0 1rem;
    margin-left: .25rem;
    padding: 0 .125rem 0 .5rem;

    span {
      @include --uppercase();
      margin: 0 .5rem;
    }
  }

  &-searchInput {
    @include font--input;
    @include control--field;
    border: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    grid-area: input;
  }

  &-searchInput-action {
    grid-area: action;
  }


  &-optionMenu {
    @include shadow--1;
    @include container--rounded;
    display: block;
    height: min-content;
    min-width: 10rem;
    max-width: 50vw;
    position: absolute;
    top: calc(100% + 1rem);
    background: $default_white;
    overflow: hidden;

    &.--stacked {
      top: 0;
    }

    li {
      padding: .75rem 1rem;
      position: relative;
      border-bottom: 1px solid transparent;
      border-bottom-color: $mystic_grey;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover:not(.active) {
        cursor: pointer;
        background: $primary--dark;
        color: $primary--contrastText;
      }
      &:last-of-type {
        border-bottom-color: transparent;
      }

      // &:after {
      //   content: " ";
      //   position: absolute;
      //   top: inherit; right: 0; left: 0; bottom: 1px;
      //   color: $mystic_grey;
      // }

      &.active {
        font-weight: bolder;
        color: $primary--dark;
      }

      &:last-of-type:after {
        display: none;
      }
    }
  }
}