.o__student-table__history {
  .table-row--communication {
    text-transform: capitalize;

    svg {
      position: absolute;
      top: 2px;
      left: -35px;
      fill: rgba($vemo_blue, 1);
    }
  }

  .table-row--date {
    color: rgba($raven_grey, 1);
  }

  .table-row--content{
    flex-basis: 100%;
  }


  svg.svg-arrow-up {
    display: none;
  }

  @include breakpoint($tablet) {
    .table-row--communication {
      svg {
        position: relative;
        margin: 0 0.9em 0 0;
        top: unset;
        left: unset;
      }
    }
  
    .table-row--date {
    }
  
    .table-row--content{
      flex-basis: auto;
    }
  }
}
