.o__student-table__history {
  justify-content: space-between;
  position: relative;
  padding: 0 1.2em;

  .table-cell--communication {
  }

  .table-cell--date {
    color: rgba($raven_grey, 1);
  }

  .table-cell--content{
    margin: 0.9em 0 0;
  }

  svg.svg-arrow-up {
    display: none;
  }

  &--row {
    padding: 0.9em 2.8em;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: calc(100% - 2.2em);
      height: 1px;
      background-color: rgba($mystic_grey, 0.6);
    }
  }

  @include breakpoint($tablet) {
    .table-cell--communication {
      width: 30%;
    }
  
    .table-cell--date {
      width: 20%;
    }
  
    .table-cell--content{
      margin: 0;
      width: 50%;
    }

    &--row {
      padding: 0.9em 1.2em;
    }
  }
}
