@import '../../scss/globals.scss';

.a-button {
  @include shadow--1;
  @include font--smaller;
  @include noSelect;

  align-items: center;
  background-color: $primary;
  border-radius: 20px;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: $primary--contrastText;
  fill: $primary--contrastText;
  cursor: pointer;
  display: inline-flex;
  letter-spacing: 0;
  margin: 0 2px;
  min-width: 5rem;
  outline: none;
  padding: 0.5rem 1rem;
  justify-content: center;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.25s ease-in-out;
  letter-spacing: .05rem;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $primary--dark;
    border: 1px solid $primary;
  }

  &:active {
    background-color: $primary--light;
    border: 1px solid $primary;
  }
}

.a-button.--secondary {
  background-color: $secondary;

  &:hover,
  &:focus {
    background-color: $secondary--dark;
    border: 1px solid $secondary;
  }

  &:active {
    background-color: $secondary--light;
    border: 1px solid $secondary;
  }
}

.a-button.--nude {
  background-color: rgba(255,255,255,0);
  border: 0;
  box-shadow: none;
  color: $text--default;
  fill: $text--default;
  transition: none;

  &:hover,
  &:focus,
  &.--active {
    background: $primary;
    color: $primary--contrastText;
    fill: $primary--contrastText;
  }

  &:active {
    background: $primary--dark;
  }
}

.a-button.--ghost,
.a-button.--disabled {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: $ghost--dark;
  fill: $ghost--dark;
}

.a-button.--ghost {
  &:hover,
  &:focus {
    border: 1px solid $ghost;
    color: $ghost--contrastText;
    fill: $ghost--contrastText;
  }

  &:active {
    border: 1px solid $ghost--dark;
  }
}

.a-button.--disabled {
  cursor: not-allowed;
}

.a-button.--bolder {
  font-weight: bolder;
  letter-spacing: .012345;
}

// Beneficiaries
.a-button {
  .svgIcon {
    margin-right: .25rem;
  }
}