@import '~/app/assets/css/atoms/global/_variables.scss';
@import '~/app/assets/css/atoms/global/_mixins.scss';

.error_modal
    {	
        width: 100%;	
        border-radius: 30px;	
        background-color: #FFFFFF;	
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
        display:flex;
        position: absolute;
        top: -16.5em;
        left: 0;

        &--left{
            width: 4.375em;	
            background-color: #F25A55;
            border-radius: 30px 0px 0px 30px;
            justify-content: center;
            display: flex;

            svg.svg-error-fill{
                fill:white;
                position: relative;
                top: 40%;
            }
        }
        &--right{
            padding: 20px 0 20px 20px;
            width:77%;
            h3{
                font-size:1.25rem;
                font-weight: bold;	
                letter-spacing: -0.42px;	
                line-height: 27px;
            }
            a{
                font-size: 1em;
                font-weight: 600;	
                line-height: 20px;
                display: flex;
                flex-basis: 90%;
                justify-content: space-between;
                align-items: center;

            }
            svg.svg-arrow-right {
                position: relative;
                float: right;
                display: block;
                
            }
        }
        
    }
    @include breakpoint($tablet) {
        .error_modal{
            left: 18%;
            width:31em;
            top: -11.7em;
        }
    }