@import '../../scss/globals.scss';

.o-panelRow {
  display: grid;
  grid-template:
    "dot title title title"
    "dot count description action" min-content / 10px min-content auto auto;

  @include breakpoint($tablet) {
    grid-template: "dot title count description action" min-content / 10px minmax(30%, 30%) min-content auto auto;
  }

  &-title,
  &-count,
  &-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-title {
    @include font--h4;
    grid-area: title;
    padding-right: .5rem;
  }

  &-count {
    @include font--h1;
    grid-area: count;
    padding: 0;
    text-align: right;
    width: 2.5rem;
  }

  &-description {
    @include font--small;
    grid-area: description;
    padding: 0 .75rem;
    color: $raven_grey;
    max-width: 20rem;
  }

  &-action {
    align-items: center;
    display: flex;
    grid-area: action;
    justify-content: flex-end;
  }
}