@import '../../scss/globals.scss';

.m-navMenu {
  padding: 0.5rem 0 0 0.5rem;

  &-row {
    padding: 0.25rem 0;
    display: flex;
    justify-content: right;
  }

  &-link {
    @include font--smaller;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-weight: bolder;
    justify-content: left;
    margin: 0;
    padding: 0.65rem 1rem;
    text-transform: none;
    width: 100%;

    .svgIcon {
      margin-right: 0.75rem;
    }
  }
}
