.zeroState {
  text-align: center;

  &--img {
    padding: 1em;
    margin-bottom: 48px;
  }

  a {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-decoration: underline;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }
  p {
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: block;
  }
}
