.m__cert-modal {
  &--shadow {
    height: 130px;
    position: relative;

    .cert-modal--cert-banner {
      position: fixed;
      right: 0;
      bottom: 0;
      display: flex;
      box-sizing: border-box;
      flex-direction: column-reverse;
      justify-content: space-between;
      color: rgba($catskill_white, 1);
      height: 130px;
      padding: 0.6em;
      border-radius: 30px 30px 0 0;
      background-color: rgba($bismark_blue, 1);
      align-items: center;
      z-index: $high_index;
      margin: 0;

      h4 {
        text-align: center;
      }
      //TODO  make general button styling
      .button {
        height: 50px;
        width: 300px;
        border-radius: 30px;
        background-color: rgba($highlight_blue, 1);
        margin: 12px 0px 12px 0px;
        color: rgba($catskill_white, 1);
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 16px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
          color: rgba($catskill_white, 1);
          font-size: 1.25em;
        }

        svg.svg-link-out {
          fill: rgba($catskill_white, 1);
        }
      }
    }
  }

  @include breakpoint($tablet) {
    &--shadow {
      height: 78px;
      .cert-modal--cert-banner {
        flex-direction: row;
        margin: 0;
        height: 78px;

        h4 {
          margin-left: 54px;
          text-align: left;
          font-size: 1em;
        }
        //TODO  make general button styling
        .button {
          width: 210px;
          margin-right: 37px;
          a {
          }

          svg.svg-link-out {
          }
        }
      }
    }
  }

  @include breakpoint($tablet_landscape) {
    &--shadow {
      .cert-modal--cert-banner {
        max-width: calc(100% - #{$desktop_nav_width});
        min-width: calc(100% - #{$desktop_nav_width});
      }
    }
  }
}
