button, .button {
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom-color: transparent;
  background: none;
  font-weight: unset;
  font-size: unset;
  border-radius: 0;

  &.button--general {
    height: 2.25em;
    width: 8.25em;
    border-radius: 1.125em;
    background-color: rgba($highlight_blue, 1);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    color: $default_white;
    font-size: 0.875em;
    font-weight: bold;
    letter-spacing: 0.09375em;
    line-height: 1em;
  }
}

.fab {
  background: $catskill_white;
  border: 1px solid $mystic_grey;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: background 250ms;
  width: 26px;  
  &:hover {
    background: darken($catskill_white, 5%);
  }
  svg.svg-edit{
    transform: scale(1,-1) rotate(45deg) translate(0px, -6px);
  }

  &.fab-submit {
    background: $highlight_blue;
    border: none;
    color: $default_white;

    svg {
      fill: $default_white;
    }
  }
}
