// It is recommended that you do not style checkbox and radio inputs as Firefox's implementation does not respect box-sizing, padding, or width.
input[type='text'], input[type='password'], input[type='email'], input[type='submit'],input[type='date'] {
  z-index: $high_index;
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 0.375rem 0.75rem;
  flex-basis: 100%;
  width: 100%;
  height: 100%;
  max-height: 2.5rem;
  font-size: 0.875rem;
  font-family: $default_font;
  line-height: 1.2;
  color: rgba($midnight, 0.8);
  background-color: rgba($default_white, 0.9);
  border: 1px solid rgba($midnight, 0.8);
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba($midnight, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out, .15s;
}

input[type='radio'], input[type='checkbox'] {
  visibility: hidden;
}

input[type='file'] {
  opacity: 0;
}

input[type='submit'] {
  display: inline-block;
  border: 4px solid rgba($vemo_blue, 1);
  border-radius: 4px;
  touch-action: manipulation;
  // user-select: none;
  cursor: pointer;
  transition: all 0.5s;
}

// Handle auth/validation below
input[type='text'], input[type='password'], input[type='email'] {
  &:focus {
    border-color: rgba($midnight, 1);
    box-shadow: inset 0 1px 1px rgba($midnight, .075), 0 0 8px rgba($midnight, 0.6);
  }
}

.was-validated {
  input[type='text'], input[type='password'], input[type='email'] {
    &:focus {
      border-color: rgba($midnight, 1);
      box-shadow: inset 0 1px 1px rgba($midnight, .075), 0 0 8px rgba($midnight, 0.6);
    }

    &:valid {
      border-color: rgba($malachite_green, 1);
      transition: border-color 0.15s ease-in-out;

      ~ .invalid-feedback {
        display: none;
      }
    }

    &:invalid {
      border-color: rgba($error_red, 1);
      transition: border-color 0.15s ease-in-out;
    }
  }
}
//input type date 
input[type="date"] {
  font-size: 1rem;
  border: 2px solid rgba($mystic_grey,1);
  background-color: rgba($default_white,1);
  color: rgba($raven_grey,1);
  font-weight: 500;
  text-transform: uppercase;
  background:#fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 22 22' fill-rule='evenodd'%3E%3Cpath d='M18,5.02328125 C19.6892681,5.22125242 21,6.65755729 21,8.4 L21,17.6 C21,19.4777681 19.4777681,21 17.6,21 L6.4,21 C4.52223185,21 3,19.4777681 3,17.6 L3,8.4 C3,6.65755729 4.31073195,5.22125242 6,5.02328125 L6,3 C6,2.44771525 6.44771525,2 7,2 C7.55228475,2 8,2.44771525 8,3 L8,5 L16,5 L16,3 C16,2.44771525 16.4477153,2 17,2 C17.5522847,2 18,2.44771525 18,3 L18,5.02328125 Z M19,17.6 L19,8.4 C19,7.62680135 18.3731986,7 17.6,7 L6.4,7 C5.62680135,7 5,7.62680135 5,8.4 L5,17.6 C5,18.3731986 5.62680135,19 6.4,19 L17.6,19 C18.3731986,19 19,18.3731986 19,17.6 Z M7,12 C6.44771525,12 6,11.5522847 6,11 C6,10.4477153 6.44771525,10 7,10 L17,10 C17.5522847,10 18,10.4477153 18,11 C18,11.5522847 17.5522847,12 17,12 L7,12 Z'%3E%3C/path%3E%3C/svg%3E") 97% 50% no-repeat;
  min-height: 2.5em;
  }
  input[type="date"]::-webkit-inner-spin-button {
  display: none;
  }
  input[type="date"]::-webkit-clear-button {
  margin-right:10px
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width:25px;
  }
  /*input[type='date']:empty:after { 
    color: #fff;
    content: attr(placeholder); 
    //background:#fff 
  
  }*/
  textarea{
      border-radius: 4px;
      background-color: #fff;
      //resize: none;
      border: 2px solid rgba($mystic_grey, 1);
     
  }
  select {
      color: #6D7378;
      font-size: 1em;
      font-weight: 600;  
      border: 2px solid rgba($mystic_grey,1);
      border-radius: 4px;
      display: inline-block;
      padding: 0.5em 3.5em 0.5em 1em;
      height:46px;
      /* reset */
    
      margin: 3px 0 0 0;      
      //-webkit-box-sizing: border-box;
      //-moz-box-sizing: border-box;
      box-sizing: border-box;
      //-webkit-appearance: none;
     // -moz-appearance: none;
      background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
      background-size:
        6px 5px,
        5px 5px,
        1px 1.5em;
      background-repeat: no-repeat;
  }
