<apex:component id="poweredbyComponent">
  SchoolAdminSitePoweredBy.component
  <apex:panelGrid cellpadding="0" cellspacing="0" width="100%" border="0" style="text-align: right;" columns="1" id="thePoweredByTop">
    <apex:panelGroup id="poweredBy">
      <!--<apex:outputText style="font-size: smaller" value="{!$Label.site.powered_by}"/>
      <apex:outputLink value="http://www.force.com"><apex:image url="{!URLFOR($Resource.SiteSamples, 'img/poweredby.png')}" styleClass="poweredByImage"/></apex:outputLink>-->
    </apex:panelGroup>
   </apex:panelGrid>
</apex:component>