<apex:component controller="SchoolAdminNotificationController" access="global">
    <apex:attribute name="eInstanceId" type="Id" description="Id of the event Instance" assignTo="{!eventInstanceId}"/>
    {!LoadData}
    This email is to notify you that {!emailAttributes.studentName}'s agreement changed to {!status}.
    <br/><br/>
    <b>Program Name: </b>{!emailAttributes.programName}<br/>
    <b>Vemo Contract #: </b>{!emailAttributes.vemoContractNumber}<br/>
    <b>Date Stamp: </b>{!dateStamp}
    <br/><br/><br/>
    To see more information click <a href = "https://schooladmin.vemo.com/SchoolAdminSiteLogin">here</a>. Please <a href = "campusserv@vemo.com">contact us</a> if you have any questions.
    <br/><br/><br/>
    Thanks,<br/>
    <b>{!$Organization.Name}</b>
</apex:component>