.m__mobile-search, .m__mobile-notifications {
  display: flex;

  &--background {
    background-color: rgba($dark_grey, 1);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0.5em 1em 0 0;
  }

  &--form {
    border: 1px solid rgba($raven_grey, 1);
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    align-content: stretch;
    padding: 10px;
    background-color: rgba($catskill_white, 1);

    .mobile-search-input-bar {
      display: flex;
      border: 1px solid rgba($raven_grey, 1);
      border-radius: 50px;
      padding: 0.6em;
      align-items: center;
      margin: 0.6em 0 1.2em 0;

      input.search-input {
        margin: 0 0.6em 0 0;
        padding: 0.4em 0;
        width: 100%;
        font-size: 0.9em;
        color: rgba($raven_grey, 1);
      }
    }

    .mobile-search-options {

      label {
        display: flex;
        justify-content: space-between;
        margin: 0 1em;
        padding: 0.6em 0;
      }

      label:not(:first-of-type) {
        border-top: 1px solid rgba($raven_grey, 1);
      }

      h3 {
        font-weight: normal;
      }

      span {
        visibility: hidden;
      }

      input[type=radio]:checked + label {
        h3 {
          font-weight: bold;
        }
        
        span {
          visibility: visible;
        }
      }
    }
  }

  &--modal {
    border: 1px solid rgba($raven_grey, 1);
    border-radius: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    align-content: stretch;
    background-color: rgba($default_white, 1);
    height: max-content;
  }

}