.m__notifications, .m__mobile-notifications {
  &--header {
    padding: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2.secondary{
      color: $midnight;	
      //font-family: "Proxima Nova";	
      letter-spacing: 1.5px;	
      line-height: 16px;
    }
    a.secondary {
      color: #6D7378;
      font-size: 0.875rem;	
      font-weight: 600;	
      line-height: 17px;
    }
    .header-option {
      display: flex;
      align-items: center;
    }

    svg.svg-notifications-fill {
      margin: 0 0.3em 0 0 !important;
    }
    svg.svg-settings-line {
      //position: absolute;
      right: 0;
      fill:rgba($raven_grey,1);
      margin-left: auto;
      margin-right: 0.3em;
    }
  }

  &--item {
    position: relative;
    display: flex;
    padding: 0 0 0.6em;
    border-bottom: solid 1px rgba($mystic_grey, 1);
    
    a {
      height: 110px;
      //width: 100%;
      background-color: #FFFFFF;
    }

    &:not(:first-of-type) {
      padding: 0.6em 0;
    }

    h5.notification-ids {
      margin: 1.2em 0 0;
      font-weight: 500;
      font-size: .75rem;
      color: rgba($raven_grey, 1);
    }
    h5.notification-date{
      color: black;
      font-size: .75rem;
      font-weight: 500;
    }
    div{
        margin-top:1em;
        margin-left: 12px;
        font-weight: 600;
        line-height: 16px;
      }

    svg.svg-applications-fill {
      position: absolute;
      top: 15px;
      left: 20px;
      fill: rgba($dark_yellow, 1);
    }

    svg.svg-close {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      padding: 0.3em;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgba($mystic_grey, 0.3);
      fill: rgba($vemo_blue, 1);
      border: 1px solid rgba($mystic_grey, 1);
    }
    svg.svg-delete {
      //width: 55px;
      //height: auto;
      position: absolute;
      fill: rgba($raven_grey, 1);
      left: 89%;
      top: 14%;
      cursor: pointer;
    }

    aside.notification-info {
      /*flex: 1 0 auto;
      flex-wrap: wrap;*/
      display:block;
      width: 74%;
      margin: 0 0 0 2.2em;
      font-weight: 600;
      line-height: 16px;

      h3 {
        //flex-basis: 100%;
        font-size: 0.875rem;
        color:$raven_grey;
        font-weight: 500;
        //display:inline-block;
        //width: 80%;
      }
      h3.notification-status{
        color:rgba($midnight,1);
        font-weight: 600;
        line-height: 16px;
      }
      h3.notification-sname{
        color:rgba($midnight,1);
        font-weight: 600;
        line-height: 16px;
      }


      /*h5 {
        color: rgba($raven_grey, 1);
      }*/

      p {

      }
    }

    &.closed {
      background-color: rgba($mystic_grey, 0.6);

      svg.svg-applications-fill {
        fill: rgba($horizon_blue, 1);
      }

      svg.svg-close {
        display: none;
      }
    }
  }

  &--all {
    position: relative;
    padding: 1.2em;
    height: 60px;	
    //width: 400px;	
    border-radius: 0 0 20px 20px;	
    background-color: #F5F8FA;
    display: flex;
    justify-content: center;
    a{
      color: #81878C;
      /* font-family: "Proxima Nova"; */
      font-weight: 500;
      line-height: 19px;
      //top: 21px;
      position: relative;
      margin-left: -6px;
    }

    svg.svg-arrow-up {
      position: absolute;
      //top: 47%;
      //right: 10px;
      fill: rgba($raven_grey, 1);
      margin-left:6px;
      transform: translateY(-2px) rotate(90deg);
      
    }
  }
}
svg.svg-blue-dot {
  fill:$highlight_blue;
  width:0.5em;
  display: inline-block;
  margin-left: -5px;
  position: absolute;
}


