@import '../../scss/globals.scss';

.a-link {
  $color: $primary;

  align-items: center;
  color: $color;
  display: inline-flex;
  fill: $color;
  font-weight: normal;
  text-decoration: none;

  .svgIcon {
    margin-right: .5rem;
  }
}
