html, body {
  font-family: proxima-nova, sans-serif;
  font-size: 10px;
  font-weight: 500;
  background: url("../icons/login_background.png") repeat center #0192ff;
}

.vemo-logo {
  background: url("../icons/vemoeducation-white.svg") no-repeat;
  width: auto;
  height: 52px;
  display: block;
  margin: 3rem auto 2.5rem;
  text-align: center;
  background-position: center;
  background-size: contain;
}

.button {
  min-width: 158px;
  height: 54px;
  border-radius: 27px;
  background-color: #0092ff;
  background: #0092ff;
  color: #ffffff;
  border: none;
  font-weight: 700;
}

.button:hover {
  color: #ffffff;
}

a {
  font-size: 1.4rem;
  color: #81878c;
}

.input {
  height: 54px;
  width: 340px;
  border: 1px solid #e3e3e3;
  border-radius: 27px;
  background-color: #ffffff;
  box-shadow: none;
  z-index: 1;
  position: relative;
  font-weight: 600;
}

.input:focus {
  outline: none;
  box-shadow: none;
  border-color: #b5b5b5;
}

.field,
.field:not(:last-child) {
  margin: 0 0 2rem 8px;
}

.field .control span.icon {
  top: 7px;
  left: 7px !important;
  height: 40px;
  border-right: 1px solid #e3e3e3;
  pointer-events: auto;
}

.field .control span.icon.is-right {
  border-right: none;
  position: absolute;
  left: 295px !important;
  cursor: pointer;
  z-index: 90;
}

.js-validate-error-field {
  border: 2px solid #f25a55 !important;
  color: #363636 !important;
  font-size: 1.2rem;
}

.js-validate-error-label {
  color: #f25a55 !important;
  padding: 6px 20px 0;
  font-size: 1.2rem;
}

.control.has-icons-left .input {
  padding-left: 48px;
}

.control.has-icons-right .input {
  padding-right: 45px;
}

.box {
  width: 380px;
  border-radius: 30px;
  background-color: #f5f8fa;
  box-shadow: none;
  margin: 0 auto;
}

.app-title {
  color: #001c33;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 31px;
  text-align: center;
  margin: 1rem 0 2.5rem;
  padding: 0 12px;
}

.app-subtitle {
  color: #001c33;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  padding: 0 12px;
  margin-bottom: 2.5rem;
}

.forgot-password {
  display: block;
  margin: 1.5rem 0 0;
}

.terms {
  margin-top: 4rem;
}

.terms .divider {
  padding: 0 10px;
  font-size: 2.5rem;
  position: relative;
  top: 4px;
  font-weight: 300;
  color: #81878c;
}

.copy-right {
  font-size: 1.1rem;
  color: #81878c;
  margin: 1.5rem 0 2.5rem;
}

.return-signin {
  color: #001c33;
  text-decoration: underline;
  font-size: 1.4rem;
}

.return-signin::after {
  content: url("../icons/arrrow-right.svg");
  position: relative;
  width: 10px;
  height: 10px;
  top: 9px;
  left: 5px;
}

.pasword-updated-icon {
  background: url("../icons/password-updated.png") no-repeat;
  width: 152px;
  height: 160px;
  margin: 0 auto;
}

.email-sent-icon {
  background: url("../icons/link-sent.png") no-repeat;
  width: 150px;
  height: 160px;
  margin: 2.5rem auto 1rem;
}

.app-error {
  height: 60px;
  width: 380px;
  border-radius: 33px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
  margin: 0 auto 2rem;
}

.app-error > span {
  height: 60px;
  width: 55px;
  background-color: #F25A55;
  float: left;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  background-clip: padding-box;
}

.error-msg {
  font-weight: 600;
  font-size: 1.6rem;
  color: #001C33;
  padding: 8px 15px;
  float: left;
  width: calc(100% - 55px);
  line-height: 1.4;
  text-align: left;
}

.error-msg a {
  color: #001C33;
  text-decoration: underline;
}


/* Icons */
.app-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.icon-error {
  background: url("../icons/error-fill.svg") no-repeat;
  margin: 16px 20px;
  filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(180deg) brightness(120%) contrast(120%);
}

.icon-email-fill {
  background: url("../icons/email-fill.svg") no-repeat;
}

.icon-password {
  background: url("../icons/password.svg") no-repeat;
}

.icon-password-fill {
  background: url("../icons/password-fill.svg") no-repeat;
}

.icon-visible {
  background: url("../icons/visible.svg") no-repeat;
}

.icon-visible.active {
  background: url("../icons/visible-fill.svg") no-repeat;
  filter: invert(39%) sepia(72%) saturate(1472%) hue-rotate(184deg)
    brightness(97%) contrast(117%);
}


@media only screen and (max-width: 480px) {
 .vemo-logo {
    margin: 0 auto 2rem;
  }
  .box {
    width: 300px;
  }
  .app-error {
    width: 300px;
  }
  .error-msg {
    font-size: 1.2rem;
    padding: 14px 15px;
  }
  .error-msg a {
    font-size: 1.2rem;
  }
  .field .control span.icon.is-right {
    left: 225px !important;
  }
  .app-title {
    font-size: 2.4rem;
    margin: 1rem 0 1.5rem;
  }
  .app-subtitle {
    margin-bottom: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .hero-body {
    padding: 1rem 0;
  }
}
.fp-return-signin{
  margin-top: 2.5rem;
  display: inline-block !important;
}