.o__dashboard-block {
  position: relative;
  display: flex;
  margin: 0.9em 0;
  padding: 1.2em;
  width: 100%;
  border: 1px solid rgba($mystic_grey, 0.6);
  border-radius: 10px;
  
  &:hover {
    text-decoration: unset;
    color: unset;
  }

  h1.main {
    flex-basis: 50%;
    font-size: 100px;
    line-height: 75px;
    color: rgba($bismark_blue, 1);
  }

  .dashboard-numbers { 
    transition: '0.8s ease-out',
  }

  aside.block-info {
    flex-basis: 50%;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 0 0.6em 0 0;
    
    p {
      flex-basis: 100%;
      line-height: 1.1;
    }

    h3 {
      line-height: 1;
    }

    span {
      display: block;
      width: 100%;
    }
  }

  svg.svg-arrow-up {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
  }

  &--first {
    aside.block-info {
      h4.dashboard-number {
        padding: 0.3em 1.2em;
        margin: 0.6em 0 0 -0.6em;
        font-weight: 700;
        color: white;
        background-color: $highlight_blue;
        border-radius: 20px;
        text-transform: capitalize;
      }

      p {
        color: $highlight_blue;
      }
    }
  }

  &--second {
    aside.block-info p {
      color: rgba($raven_grey, 1);
    }
  }

  &--third {
    aside.block-info p {
      color: rgba($raven_grey, 1);
    }
  }

  @include breakpoint($tablet) {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    &:not(:first-of-type) {
      margin: 0.9em 0 0.9em 0.9em;
    }

    h1.main {
      flex-basis: 100%;
    }

    aside.block-info {
      flex-basis: auto;
      justify-content: center;
      padding: 0 1.2em;
    }

    svg.svg-arrow-up {
      right: 10px;
    }

    &--first {
      aside.block-info {
        a {
          margin: 0.6em 0 0;
        }
      }
    }
  }
}
