.o__dashboard-layout {
  display: flex;

  &--header {
    svg.svg-applications-fill {
      fill: rgba($dark_yellow, 1);
    }
  }

  &--body {
    position: relative;
    flex-wrap: wrap;
    padding: 1.2em 0;
    margin: 0 0 0.6em;

    .dashboard-dots {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 5px;
      bottom: 0;

      span:nth-child(odd) {
        display: block;
        height: 12px;
        width: 12px;
        border-radius: 100%;
        background-color: rgba($mystic_grey, 1);
      }

      span:nth-child(even) {
        display: block;
        margin: 5px 0;
        height: 80px;
        width: 2px;
        background-color: rgba($mystic_grey, 1);
      }
    }

    .dashboard-block {
      flex-wrap: wrap;
      flex-basis: 100%;
      align-items: center;
      position: relative;
      padding: 0 16em 0 0;
      margin: 0 0 0 2.1em;
      border-top: 1px solid rgba($mystic_grey, 1);
      width: 100%;
      height: 100px;

      &:last-of-type {
        border-bottom: 1px solid rgba($mystic_grey, 1);
      }

      h3, p {
        display: block;
        width: 100%;
      }

      a {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding: 0.3em 0.9em;
        background-color: rgba($highlight_blue, 1);
        box-shadow: 0px 1px 1px 1px rgba($mystic_grey, 1);
        border-radius: 20px;
        color: rgba($default_white, 1);
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }

  .cancelled-block {
    position: absolute;
    bottom: -10px;
    right: 10px;
    width: 100%;
    text-align: right;
  }

  @include breakpoint($tablet) {
    .dashboard-block {
      h3, p {
        width: 50%;
      }
    }
  }
}
