// Temporary until move shared elements into their own package
@import '../atoms/global/variables';
@import '../atoms/global/mixins';

span.modal-background {
  // z-index: $lowest_index;
  // pointer-events: none;
  // opacity: 0;
  z-index: $higher_index;
  pointer-events: all;
  opacity: 1;
  position: fixed;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.3s;
  background-color: rgba($mystic_grey, 0.3);
}

// .s__modal {
//   &--active {
//     & ~ span.modal-background {
//           }
//   }
// }
