// Temporary until move shared elements into their own package
@import '../atoms/global/variables';
@import '../atoms/global/mixins';

.shared-component__submenu {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  margin: 0;
  flex-basis: 100%;
  width: 100%;
}

@include breakpoint($tablet) {
  .shared-component__submenu {
    justify-content: space-between;
    box-shadow: none;
    // box-shadow: 0px 1px 1px rgba($mystic_grey, 0.3);
  }
}

.s__shared-submenu {
  z-index: $high_index;
  display: flex;
  flex-wrap: wrap;

  h1 {
    flex-basis: 100%;
    margin: 0 0 1.2em;
  }

  &--tabs {
    flex-basis: 100%;
    align-content: space-between;

    a {
      padding: 0.6em 1.2em;
      border-radius: 20px;
      color: rgba($mystic_grey, 1);
      text-transform: uppercase;
      color: rgba($dark_grey, 1);
      transition: all 0.3s;
      white-space: nowrap;
  
      &.is-active {
        color: white;
        background-color: $highlight_blue;
      }
      
    }
    
    input:checked + label {
      color: white;
      background-color: $highlight_blue;
    }

    label {
      flex-basis: auto;
      margin: 0 0.3em;
      padding: 0.6em 0.9em;
      border-radius: 20px;
      color: rgba($mystic_grey, 1);
      text-transform: uppercase;
      transition: all 0.3s;
      cursor: pointer;
    }

    .submenu-tabs {
      align-items: center;
      overflow-x: scroll;
    }
  }

  &--buttons {
    flex-basis: 50%;
    justify-content: end;
    margin-right: 1px;

    a {
      margin: 0 1.5em 0 0;
    }

    .filter-button {
      display: flex;
      align-items: center;
      padding: 0.3em 0.9em;
      margin: 0.9em 0 0.6em;
      background-color: rgba($highlight_blue, 1);
      box-shadow: 0px 1px 1px 1px rgba($mystic_grey, 1);
      border-radius: 20px;
      font-weight: 700;
      color: rgba($default_white, 1);
      cursor: pointer;

      svg.svg-filter {
        fill: rgba($default_white, 1);
      }

      h2 {
        margin: 0 0 0 0.6em;
        font-size: 0.875em;
        text-transform: uppercase;
      }
    }

    .funding-amount {
      flex-basis: 70%;
      margin: 1.2em 0 0;
      padding: 0 0 0.6em;
  
      h1 {
        flex-basis: 100%;
      }

      h3 {
        display: block;
        font-size: 26px;
        font-weight: bold;
        color: #001C33;
      }
    }

    .buttons {
      z-index: $highest_index;
      display: flex;
      justify-content: center;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: rgba($catskill_white, 1);
    }
  }

  @include breakpoint($tablet) {
    &--tabs {
      flex-basis: 50%;
    }

    &--buttons {
      .filter-button {
        position: relative;
        margin: 0;
        padding: 0;
        background-color: transparent;
        box-shadow: none;

        svg.svg-filter {
          padding: 0.6em;
          fill: unset;
          background-color: rgba($catskill_white, 1);
          box-shadow: 0px 1px 1px 1px rgba($mystic_grey, 1);
          border-radius: 50%;
          cursor: pointer;
        }
      }

      .funding-amount {
        margin: 0;
      }

      .buttons {
        position: relative;
        background-color: transparent;
        margin-right: 20px;
      }
    }
  }
}
