// Temporary until move shared elements into their own package
@import '../atoms/global/variables';
@import '../atoms/global/mixins';

.shared-component__vemo-table {
  margin: 0;
  background-color: rgba($default_white, 1);
}

.s__vemo-table {
  display: flex;
  align-items: center;

  svg.svg-sort-arrow {
    display: none;
  }

  .active {
    font-weight: 700;
    color: rgba($midnight, 1);

    &.--desc {
      svg.svg-sort-arrow {
        display: block;
        transform: rotate(180deg);
      }
    }

    &.--asce{
      svg.svg-sort-arrow {
        display: block;
      }
    }
  }

  .table-cell {
    min-height: 22px;
    box-sizing: border-box;
    display: flex;
    position: relative;
  }

  &--header {
    display: none;
    color: rgba($raven_grey, 1);
  }

  &--row {
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    color: rgba($raven_grey, 1);
    transition: all 0.3s;

    svg {
      transition: all 0.3s;
    }

    svg.svg-students-line {
      position: absolute;
      left: 0;
    }

    svg.svg-arrow-right {
      display: none;
      position: absolute;
      right: 0;
    }

    &:hover,
    &:focus {
      svg.svg-arrow-up {
        fill: rgba($highlight_blue, 1);
      }
    }
  }

  .empty-cell {
     display: none;
     margin-right: 8px;
  }

  @include breakpoint($tablet) {
    .table-cell {
      align-items: center;
    }

    &--header {
      display: flex;
    }

    &--row {
      position: relative;
      padding: 0.6em 0;

      svg.svg-sort-arrow {
        display: block;
      }
    }

    .empty-cell{
      display: initial;
    }
  }
}
.pymnt-hstry-tbl{
  th{
    font-size: 0.875rem;
  }
  td{
    font-size: 1rem;
  }
}