@import "../../../scss/globals.scss";

.m-sidebarFooter {
  text-align: center;
  padding: .5rem 0 1rem;

  &-certLink {
    @include font--small;
  }

  &-links {
    border-top: 1px solid $mystic_grey;
    display: grid;
    grid-template: ". ." / auto;
    margin-top: .75rem;
    padding: 1rem .5rem 0;

    .a-link {
      @include font--tiny;

      color: $raven_grey;
      justify-content: center;
      height: 1.5rem;
      padding-right: .25rem;
      border-right: 1px solid $mystic_grey;
      white-space: nowrap;
      text-decoration: underline;
      text-decoration-color: darken($mystic_grey, 5);
      text-underline-position: under;

      &:hover {
        color: black;
        text-decoration-color: darken($mystic_grey, 50);
      }

      &:last-child {
        border-right: 0;
        padding-right: 0;
        padding-left: .25rem;
      }
    }
  }

  &-copyright {
    @include font--tiny;
    color: $raven_grey;
  }

  &-logo {
    height: 75px;
    margin: .25rem auto 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}