@import '../../scss/globals.scss';

.o-sidebar {
  background: $off-white;
  border-right: 1px solid $off-white--accent;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0.5rem;

  &.--left {
    border-top-right-radius: 2rem;
  }
  &.--right {
    border-top-left-radius: 2rem;
  }

  &-spacer {
    flex: 1;
  }

  .logo {
    padding: 1.5rem;
  }

  .logo img {
    margin: 0 auto;
    display: block;
    max-width: 250px;
    width: 100%;
  }
}
