@import '../../../scss/globals.scss';

$sidebarWidth: 250px;

.t-singleColumn {
  display: grid;
  min-height: 100vh;
  grid-template:
    "header"
    "content" minmax(min-content, 100%) / auto;
  column-gap: 1.25rem;

  &-header {
    margin: 0;
    color: #333;
    text-align: center;
    grid-area: header;
  }

  &-sidebar {
    grid-area: sidebar;
    position: absolute;
    right: 0;
    width: $sidebarWidth;
    height: 100vh;

    > * {
      position: relative;
      z-index: 201;
    }

    &:after {
      content: " ";
      display: block;
      background: fade-out(black, .9);
      position: absolute;
      top: 0; bottom: 0; right: 0;
      width: 100vw;
      height: 100%;
      z-index: 200;
    }
  }

  &-content {
    grid-area: content;
    max-width: 100%;
    overflow: hidden;
  }

  &-footer {
    grid-area: footer;
  }
}