#root > header {
  z-index: $higher_index;
  box-sizing: border-box;
  z-index: $higher_index;
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 1.2em;
  width: 100%;
  max-width: $max_width;
  height: $header_height_mobile;
  background-color: rgba(255, 255, 255, 0.9);

  @include breakpoint($tablet_landscape) {
    padding: 0 1.2em;
    margin: 0 0 0 $desktop_nav_width;
    max-width: calc(100% - #{$desktop_nav_width});
    height: $header_height_tablet;
  }
}
