.form-control {
  display: flex;
  flex-direction: column-reverse;

  ~ .fab {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

input.input {
  border: none;
  box-shadow: inset 0 0 0 1px $midnight, 0 0 rgba($midnight, 0);
  flex-basis: auto;
  font-weight: 600;
  height: 44px;
  max-height: none;
  padding: 0.75rem 1rem;
  transition: box-shadow ease-in-out, 0.15s;

  ~ label {
    font-size: 0.875;
    transition: color ease-in-out, 0.15s;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $highlight_blue, 0 2px 7px rgba($midnight, 0.3);

    ~ label {
      color: $highlight_blue;
      font-weight: 700;
    }
  }
}

.readOnlyInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  h4{
    white-space: unset;
    word-wrap: break-word;
  }
  .label {
    font-size: 0.75rem;
    color: #6D7378;
  }
  .content {
    display: inline-block;
    @include breakpoint($tablet) {
      margin-right: 1.5rem;
    }  
    button {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 10px;
    }
  }
}
