main {
  display: flex;
  justify-content: center;
  align-content: baseline;
  flex-wrap: wrap;
  position: relative;
  margin: 3.25rem 0 0;
  min-height: calc(100% - (#{$header_height_mobile}));
  background-color: rgba($catskill_white, 1);

  @include breakpoint($tablet_landscape) {
    padding: 0 1.2em;
    margin: 4.5rem 0 0 $desktop_nav_width;
    max-width: calc(100% - #{$desktop_nav_width});
    min-height: calc(100% - (#{$header_height_tablet}));
    background-color: rgba($default_white, 1);
  }
}
