.o__agreement-info {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.6em;

  .agreement-info-block {
    flex-basis: 100%;
    .navigate_css{
      a:hover {
        border-bottom: 2px solid #0F77C5;
        svg.svg-arrow-right2{
          margin-left: 6px;
        }  
      }
     
      svg.svg-arrow-right2{
        position: absolute;
        margin-left: 3px;
        fill: #0F77C5;
        padding: 2px;
        transform: rotate(270deg);
      }
    }
  }

  .m__line {
    display: block;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    border-color: #ffffff;
    }

  @include breakpoint($tablet_landscape) {
    flex-wrap: nowrap;

    .agreement-info-block {
      flex-basis: 50%;
          
      .navigate_css{
        a:hover {
          border-bottom: 2px solid #0F77C5;
          svg.svg-arrow-right2{
            margin-left: 6px;
          } 
        }
        svg.svg-arrow-right2{
          position: absolute;
          margin-left: 3px;
          fill: #0F77C5;
          padding: 2px;
          transform: rotate(270deg);
        }
      }
      
    }
    .m__line {
      display: none;
    }
  }
}
