.o__student-info {
  display: flex;
  flex-direction: column;

  .pending-enrollment-message {
    margin: .5rem 1.5rem 0 0;
    p{
      height: 68px;
      color:rgba($raven_grey,1);
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 17px;
    }
  }
  .info-cell {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;

    @include breakpoint($tablet) {
      width: 33.333333%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .info-card {
    margin: 1rem 0 2rem;

    &:last-child {
      margin-bottom: 0;
    }
    .title {
      font-size: 1.25rem;
    }
  }

  .student-info-block {
    border: 1px solid $mystic_grey;
    border-radius: 10px;
    flex-basis: 100%;
    margin-top: 0.75rem;
    padding: 1rem;

    @include breakpoint($tablet) {
      padding: 2rem;
    }

    span {
      display: block;
      margin: 0 0.6rem;

      &:not(:first-of-type) {
        margin: 1.2em 0 0;
      }

      p {
        display: block;
        margin: 0 0 0.3em;
        color: rgba($raven_grey, 1);
      }
    }
  }

  .single_row {
    margin-bottom: 0;
  }
  .capitalize-text{
    text-transform: capitalize;
  }
}
