.o__header-desktop {
  display: flex;
  align-items: center;
  position: relative;

  &--search {
    display: flex;
    padding: 0 0 0 3.2em;
    height: 50px;
    width: 460px;
    border: 1px solid rgba($mystic_grey, 1);
    border-radius: 30px;
    background-color: rgba($catskill_white, 1);
    transition: 0.3s all;

    input.search-input {
      margin: 0 0.6em 0 0;
      padding: 0.4em 0;
      width: 230px;
      font-size: 0.9em;
      color: rgba($raven_grey, 1);
    }

    p {
      padding: 0.4em 1.8em 0.4em 1.2em;
      color: rgba($raven_grey, 1);
      border-left: 1px solid rgba($mystic_grey, 1);
    }

    button.header-search-button {
      display: none;
      cursor: pointer;
      padding: 0.3em 0.6em;
      margin: 0 0.3em;
      border-radius: 30px;
      background-color: rgba($raven_grey, 1);
      color: rgba($catskill_white, 1);
      text-transform: uppercase;
      transition: 0.3s all;

      &.search-button-active {
        background-color: rgba($highlight_blue, 1);
        pointer-events: all;
      }
    }

    .header-filter-toggle {
      display: flex;
      flex: 1 0 auto;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .header-filter-wrapper {
        position: relative;
      }

      .header-filter-options {
        z-index: $lowest_index;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        padding: 1.2em;
        top: 60px;
        left: 0;
        right: 0;
        background-color: rgba($catskill_white, 1);
        border: 1px solid rgba($mystic_grey, 1);
        border-radius: 20px;
        box-shadow: 0px 0px 50px -1px rgba($mystic_grey, 0.6);
        transition: opacity 0.3s;

        li {
          cursor: pointer;
          margin: 0;
          padding: 0.6em 0;
        }

        li:not(:first-of-type) {
          border-top: 1px solid rgba($raven_grey, 1);
        }
      }
    }

    svg#svg-search {
      position: absolute;
      bottom: 0;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    svg#svg-arrow-down {
      z-index: $high_index;
      position: absolute;
      bottom: 0;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      fill: rgba($raven_grey, 1);
    }

    &.search-active {
      z-index: $highest_index;
      background-color: rgba($default_white, 1);
      border: 2px solid rgba($highlight_blue, 1);
      box-shadow: 1px 1px rgba($raven_grey, 0.6);

      button.header-search-button {
        display: inline-block;
      }

      input.search-input {
        width: 180px;
      }

      .header-filter-toggle.filter-active {
        .header-filter-options {
          z-index: $highest_index;
          opacity: 1;
          pointer-events: all;
        }

        svg#svg-arrow-down {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }

  &--notifications {
    position: relative;
    margin: 0 0 0 1.2em;

    &::after {
      display: none;
      // display: inline-block; 
      position: absolute;
      top: 5px;
      left: -5px;
      content: "\A";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba($vemo_blue, 1);
    }

    .header-notifications-list {
      z-index: $high_index;
      position: absolute;
      margin: 0;
      margin-top: 55px;
      top: 0;
      right: 0;
      width: 402px;
      border-radius: 20px;
      border: 1px solid rgba($raven_grey, 0.6);
      box-shadow: 0px 0px 70px -15px rgba($midnight, 0.75);
      background-color: rgba($default_white, 1);
      transition: opacity 0.3s;
    }
  }

  &--profile {
    margin: 0 0 0 1.2em;
  }

  @include breakpoint($tablet) {
    .header-profile-name {
      display: flex;
      // z-index: $highest_index;
      min-width: 145px;
    }

    .header-profile-links {
      z-index: $medium_index;
      opacity: 1;
      position: absolute;
      padding: 1.2em;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      min-width: 185px;
      width: 140%;
      background-color: rgba($catskill_white, 1);
      border: 1px solid rgba($mystic_grey, 1);
      border-radius: 20px;
      box-shadow: 2px 3px 3px rgba($mystic_grey, 0.6);
      transition: opacity 0.3s;

      a {
        display: flex;
        padding: 1.2em 0 0;
      }

      svg {
        margin: 0 1.2em 0 0;
      }
    }

    &--profile {
      .profile-active.header-profile-name {
        svg.svg-arrow-down  {
          transform: rotate(180deg);
        }
      }
    }
  }
}
