.o__header-hamburger {
  z-index: 1;
  position: relative;
  
  input#hamburger-checkbox {
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    &:checked ~ article.header-hamburger--menu {
      right: 0;
      opacity: 1;
    }

    &:checked ~ article.header-hamburger--background {
      pointer-events: all;
      opacity: 1;
      z-index: $higher_index;
    }
  }

  label.header-hamburger--checkbox {
    display: block;

    span {
      z-index: 1;
      position: relative;
      display: block;
      width: 33px;
      height: 3px;
      margin: 0 0 0.3em;
      background-color: rgba($midnight, 1);
      border-radius: 2px;
      transform-origin: 4px 0px;
      transition: transform-origin 0.5s ease;
  
      &:first-child {
        transform-origin: 0% 0%;
      }
  
      &:last-child {
        margin: 0;
        transform-origin: 0% 100%;
      }
    }  
  }

  article.header-hamburger--menu {
    opacity: 0;
    z-index: $highest_index;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-basis: auto;
    position: fixed;
    margin: 0;
    right: -100%;
    bottom: 0;
    top: 0;
    min-width: 150px;
    max-width: 300px;
    width: auto;
    background-color: white;
    transition: all 0.5s ease;
    overflow: scroll;

    a {
      margin: 5px 0;
      text-transform: capitalize;
    }
  }

  article.header-hamburger--background {
    z-index: $lowest_index;
    pointer-events: none;
    opacity: 0;
    position: fixed;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;
    background-color: rgba($raven_grey, 0.6);
  }

  @include breakpoint($tablet_landscape) {
    input#hamburger-checkbox {
      &:checked ~ article.header-hamburger--menu {
        left: 0;
      }
    }

    article.header-hamburger--menu {
      opacity: 1;
      display: flex;
      visibility: visible;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: space-between;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      max-width: 200px;
      border-right: 1px solid rgba($mystic_grey, 0.3);
      background-color: rgba($catskill_white, 1);
      transition: none;
    }
  }
}
