//$break-small: 640px;

.m__header-menu {
  flex-basis: 100%;
  width: 100%;
  justify-content: flex-end;
  padding-top: 1.2em;

  &:not(:first-of-type) {
    border-top: 1px solid rgba($mystic_grey, 1);
  }

  &--logo {
    svg,
    img {
      padding: 0 2.4em;
      width: 100%;
      height: auto;
    }
  }

  &--profile {
    display: flex;
    flex-wrap: wrap;

    input#hamburger-profile-checkbox {
      position: absolute;
      display: block;

      &:checked ~ article.hamburger-profile-links {
        display: block;
      }
    }

    label.hamburger-profile-checkbox,
    article.hamburger-profile-links {
      flex-basis: 90%;
      width: 90%;
    }

    label.hamburger-profile-checkbox {
      cursor: pointer;
    }

    article.hamburger-profile-links {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      padding: 0.6em;
      border-radius: 40px 0 0 40px;
    }

    a.is-active {
      color: rgba($default_white, 1);
      background-color: rgba($highlight_blue, 1);
      transition: all 0.3s;

      svg {
        fill: rgba($default_white, 1);
        transition: all 0.3s;
      }
    }
  }

  &--submenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 2em 0 0;

    article.header-submenu-links {
      flex-basis: 90%;
      width: 90%;
    }

    svg {
      margin: 0 1em 0 0;
    }

    svg[class$='fill'] {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      padding: 0.6em;
      font-size: 0.9em;
      border-radius: 40px 0 0 40px;
    }

    a.is-active {
      color: rgba($default_white, 1);
      background-color: rgba($highlight_blue, 1);
      transition: all 0.3s;

      svg[class$='line'] {
        display: none;
      }

      svg[class$='fill'] {
        display: block;
        fill: rgba($default_white, 1);
        transition: all 0.3s;
      }
    }
  }

  &--footer {
    margin-bottom: -2rem;

    > div {
      padding: 0.25rem 0;
      display: grid;
      grid-template: '. .' / 50% 50%;
      text-align: center;
    }

    > div > div {
      padding: 0.5rem 0;
    }

    > div > div > a {
      margin-top: .5rem;
      padding: 0.1em 0.6em;
      font-size: 0.8em;
      color: rgba($raven_grey, 1);
      justify-self: center;

      &:last-of-type {
        border-left: 1px solid rgba($mystic_grey, 0.9);
      }
    }

    > div > p {
      flex-basis: 100%;
      font-size: 0.7em;
      color: rgba($raven_grey, 1);
      text-align: center;
      display: block;
      padding: 0.25rem 0;
    }

    .beta-version {
      justify-content: center;
      align-items: center;
      margin: 1.2em 0 1.2em;
      padding: 1em 0;
      border-top: 1px solid rgba($mystic_grey, 0.9);
      border-bottom: 1px solid rgba($mystic_grey, 0.9);
      position: relative;
      display: flex;
      color: $midnight;

      h5{
        font-weight: 600;
      }

      svg.svg-help {
        margin-left: .5em;
      }
    }

    aside.certification-link {
      justify-content: center;
      align-items: center;
      padding: 0 0 1.2em;
      border-bottom: 1px solid rgba($mystic_grey, 0.9);

      a {
        color: rgba($highlight_blue, 1);
      }

      svg.svg-link-out {
        fill: rgba($highlight_blue, 1);
        margin-right: 0.5rem;
      }
    }
  }

  &--modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    z-index: $highest_index;
    .header-menu-fadeout {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba($default_white, 0.7);
      z-index: $highest_index;
    }

    .header-menu-exit {
      position: relative;
      left: 11.5em;
      bottom: 1em;
      .svg-close {
        border-radius: 50%;
        width: 2em;
        height: 2em;
        background: #141415;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: rgba($catskill_white, 1);
        z-index: $highest_index;
      }
    }

    .header-menu-modal {
      box-sizing: border-box;
      height: 14.625em;
      width: 24em;
      border: 1px solid rgba(64, 99, 128, 0.2);
      border-radius: 1.125em;
      background-color: rgba($default_white, 1);
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: $highest_index;

      h1 {
        letter-spacing: -0.03125em;
        line-height: 1.875em;
      }

      h4 {
        height: 3.75em;
        width: 18.75em;
        line-height: 1.125em;
        text-align: center;
      }
    }
  }

  @include breakpoint($tablet_landscape) {
    &:not(:first-of-type) {
      border-top: none;
    }

    &--profile {
      display: none;
    }
    &--footer {
      bottom: 1.2em;
      position: absolute;
    }
  }

  @include breakpoint($tablet) {
    &--footer {
      bottom: 1.2em;
      position: absolute;
    }
  }
}
