.o__mobile-search, .o__mobile-notifications {
  .header-filter-button {
    &.filter-open {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: $higher_index;
    }

    svg.svg-close {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #141415;
      fill: rgba($catskill_white, 1);
    }
  }

  .header-filter-options {
    z-index: $high_index;
    opacity: 1;
    pointer-events: all;
    border: 1px solid rgba($mystic_grey, 1);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba($catskill_white, 1);
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
