.o__header-main-title {
  h1, h3 {
    text-transform: capitalize;
  }

  svg.svg-arrow-up {
    transform: rotate(-90deg);
  }

  a {
    display: flex;
    align-items: center;
    color: rgba($raven_grey, 1);
    fill: rgba($raven_grey, 1);
  }
}
