.THIS .table-header {
    width: 10%!important;
    max-width: 10%!important;
    word-break: break-all;
}

.THIS .summary-container {
    padding-left: 1%;
    width: 90%;
}

.THIS .info-label {
    min-width: 15%;
}