.THIS .sWrapTest {
    height:350px;
    width:100%;
}
.THIS .slds-accordion__summary-heading {
    display: flex;
    flex-grow: 1;
    font-size: 1rem;
    line-height: 1.25;
    height: 50px;
    background-color: #e0e0e0;
}

.THIS .slds-truncate {
    max-width: 100%;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}