.m__student-list-info {
  position: relative;

  article.list-info-bubble {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.9em;
    width: 300px;
    bottom: 120%;
    border-radius: 10px;
    color: rgba($catskill_white, 1);
    background-color: rgba($midnight, 0.8);
    transition: all 0.3s;

    span {
      display: flex;
      justify-content: space-between;
      flex: 1 0 auto;
      width: 100%;
      white-space: nowrap
    }

    p:first-of-type {
      max-width: 170px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p:last-of-type {
      padding: 0 0 0 1.2em;
    }

    &::after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: rgba($midnight, 0.8);
      border-width: 10px;
      margin-left: -10px;
    }
  }
  
  &:hover,
  &:focus {
    article.list-info-bubble {
      opacity: 1;
      visibility: visible;
    }
  }
}
