.o__students-table--row {
  .table-row {
    &--name {
      color:$midnight;
      svg.svg-student-fill {
        position: absolute;
        top: 0;
        left: -25px;
        fill: rgba($vemo_blue, 1);
      }
    }

    &--program {
      color: rgba($raven_grey, 1);
    }

    &--program-course {
      display: none;
    }

    &--graduation {
      color: rgba($raven_grey, 1);
    }

    &--enrollment {
      color: rgba($raven_grey, 1);
      h3{
        font-weight: 500;
        font-size: 1.125;
      }
    }
  }

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  &:hover,
  &:focus {
    background: rgba($highlight_blue, 0.4);
    color: rgba($highlight_blue, 1);
    border-top: 1px solid rgba($vemo_blue, 1);
    border-bottom: 1px solid rgba($vemo_blue, 1);
  }
  
  svg.svg-arrow-up {
    display: none;
    position: absolute;
    right: 5px;
    transform: rotate(90deg);
    fill: rgba($raven_grey, 1);
  }

  @include breakpoint($tablet) {
    .table-row {
      &--name {
        color: unset;

        svg.svg-student-fill {
          position: relative;
          margin: 0 0.3em 0 0;
          top: unset;
          left: unset;
        }
      }

      &--program {
        color: unset;

        h3 {
          font-weight: 400;
        }

        article.list-info-bubble {
          opacity: 0;
          visibility: hidden;
          display: flex;
          flex-wrap: wrap;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          padding: 0.9em;
          width: 300px;
          bottom: 120%;
          border-radius: 10px;
          color: rgba($catskill_white, 1);
          background-color: rgba($midnight, 0.8);
          transition: all 0.3s;
      
          span {
            display: flex;
            justify-content: space-between;
            flex: 1 0 auto;
          }
      
          P:last-of-type {
            padding: 0 0 0 1.2em;
          }
      
          &::after {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-top-color: rgba($midnight, 0.8);
            border-width: 10px;
            margin-left: -10px;
          }
        }
        
        &:hover,
        &:focus {
          article.list-info-bubble {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &--program-course {
        display: block;
  
        p {
          overflow: hidden;
          white-space: nowrap;
          width: 165px;
          text-overflow: ellipsis;
          display: block;
        }
      }

      &--graduation {
        color: unset;
  
        p:first-of-type {
          display: none;
        }
      }

      &--enrollment {
        color: unset;

        h3 {
          font-weight: 400;
          font-size: 1.125em;
        }
      }
    }

    svg.svg-arrow-up {
      display: block;
    }
  }
}
