.o__students-table {
  position: relative;
  padding: 0.9em 2.1em;
  
  .table-cell {
    &--name {
      width: 100%;
    }

    &--program {
      padding: 0 0 0.6em;
      width: 100%; 
    }

    &--program-course {}

    &--graduation {}

    &--enrollment {
      position: absolute;
      top: 0.9em;
      right: 20px;
    }
  }

  @include breakpoint($tablet) {
    padding: 0.9em;

    .table-cell {
      &--name {
        width: 25%;
      }

      &--program {
        padding: 0;
        width: 20%;
      }

      &--program-course {
        width: 25%;
      }

      &--graduation {
        width: 15%;
      }

      &--enrollment {
        width: 10%;
        position: relative;
        top: unset;
        right: unset;
      }
    }
  }
}
