.o__programs-table__agreements--row {
  display: block;
  padding: 0.6em 0.9em;
  padding-left: inherit;

  .table-row {
    &--student-name {
      svg.svg-applications-fill {
        fill: rgba($caution_yellow, 1);
        margin-right:0.5em 
      }
    }

    &--sp-number {
      
    }

    &--school-program {
     
    }

    &--funding {

    }

    &--start-date {

    }

    &--grad-date {

    }

    &--status {

    }
  }

  &.closed {
    background-color: rgba($mystic_grey, 0.6);

    .table-row {
      &--student-name {
        svg.svg-applications-fill {
          fill: rgba($horizon_blue, 1);
        }
      }
    }
  }

  &:hover,
  &:focus {
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba($mystic_grey, 0.6);
  }
  
  svg.svg-arrow-up {
    display: none;
  }

  @include breakpoint($tablet) {
    display: flex;
    
    .table-row {
      &--student-name {
        svg.svg-applications-fill {
          position: relative;
          margin: 0 0.3em 0 0;
          top: unset;
          left: unset;
        }
      }
      
  
      &--sp-number {
        
      }
  
      &--school-program {
        //margin-left: 0rem;
      }

      &--vm-contract-number{
      }
  
      &--funding {
  
      }
  
      &--start-date {
  
      }
  
      &--grad-date {
  
      }
  
      &--status {
  
      }
    }
  }
}
