.o__programs-table__agreements {
  align-items: center;

  .table-cell {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    &--student-name {
       color:$midnight;
       //font-size: 1.3em;


    }

    &--sp-number {
      margin-left: 1.8rem;
      font-size: 0.9em;
    }

    &--school-program {
      margin-left: 1.8rem;
      font-size: 0.9em;
    }

    &--funding {
      margin-left: 1.8rem;
      display: inline-flex;
      margin-top: 1em;
      font-size: 0.7em;
    }

    &--status {
        float:right; 
        margin-top: -4.0em;
        font-size: 0.8em;
    }
    &--funding-amount-label{
        display: block; 
        color:$raven_grey;
        font-size: 1.1em;
    }
    &--funding-main {
      font-size: 1.1em;
      font-weight: 400;
    }
  }

  @include breakpoint($tablet) {
    
    .table-cell {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;

      h4.secondary {
        display: none;
      }

      &--student-name {
        width: 20%;
        color:$raven_grey;
        font-size: inherit;

      }
  
      &--sp-number {
        width: 15%;
        margin-left: 0rem; 
        font-size: unset;
      }
  
      &--school-program {
        width: 40%;
        margin-left: 0rem;
        font-size: 1.125em;
      }

      &--vm-contract-number {
        width: 15%;
        margin-left: 0rem;
      }
  
      &--funding {
        width: 15%;
        margin-left: 0rem;
        margin-top: 0em; 
        font-size: 1em;
      
      }
  
      &--status {
        width: 10%;
        float:none;
        margin-top: 0em;
        font-size: unset;
      }
      &--funding-amount-label{
        display: none; 

    }
    &--funding-main {
      font-size: 1.125em;
      font-weight: bold;
    }
    }
  }
}
