html {
  // Higher quality rendering -- impacts performance
  text-rendering: optimizeLegibility !important;

  // Chrome & Opera
  -webkit-font-smoothing: antialiased !important;

  // Firefox on OSX
  -moz-osx-font-smoothing: grayscale !important;

  font-family: $default_font;

  // IE -- Causes problems on safari
  // -webkit-text-shadow: rgba(255,255,255,0.01) 0 0 1px !important;
  // -webkit-text-stroke: rgba(255,255,255,0.01) 0.1px !important;
  // -webkit-text-stroke-width: 0.1px !important;
}


// 10px = 0.625rem
// 12px = 0.75rem
// 13px = 0.8125rem
// 14px = 0.875rem.
// 16px = 1rem (base)
// 18px = 1.125rem
// 20px = 1.25rem
// 24px = 1.5rem
// 30px = 1.875rem

@mixin h1 {
  font-size: 1.625em;
  font-weight: 700;

  // &.main {
  //   font-weight: 700;
    // color: rgba($midnight, 1);
  // }
}

@mixin h2() {
  font-size: 0.8125rem;
  font-weight: 700;

  // &.main {
  //   font-weight: 700;
  //   text-transform: uppercase;
  //   // color: rgba($default_white, 1);
  // }

  // &.secondary {
  //   font-weight: 700;
  //   text-transform: uppercase;
  //   // color: rgba($raven_grey, 1);
  // }
}

@mixin h3 {
  font-size: 1.125;
  font-weight: 700;
  // &.main {
  //   font-size: 1.125em;
  //   // font-weight: 500;
  //   // color: rgba($midnight, 1);
  // }
}

@mixin h4 {
  font-size: 1em;

  // &.main {
  //   font-weight: 600;
  // }

  // &.secondary {
  //   font-weight: 500;
  // }
}

@mixin h5 {
  font-size: 0.875em;

  // &.main {
  //   font-weight: 500;
  //   // color: rgba($midnight, 1);
  // }

  // &.secondary {
  //   font-weight: 500;
  //   // color: rgba($raven_grey, 1);
  // }

  // &.tertiary {
  //   font-weight: 400;
  //   // color: rgba($raven_grey, 1);
  // }
}

@mixin h6 {
  font-size: 0.75em;

  // &.tertiary {
  //   font-weight: 400;
  //   // color: rgba($raven_grey, 1);
  // }

  // &.bold {
  //   font-weight: 700;
  //   // color: rgba($midnight, 1);
  // }

  // &.error {
  //   font-weight: 400;
  //   // color: rgba($error_red, 1);
  // }

  // &.hyperlink {
  //   font-weight: 400;
  //   // color: rgba($raven_grey, 1);
  //   text-transform: underline;
  // }
}

@mixin p {
  // display: inline;
  font-size: 1em;

  // &.main {
  //   font-size: 0.825em;
  //   font-weight: 400;
  // }

  // &.secondary {
  //   font-size: 0.825em;
  //   font-weight: 300;
  // }

  // &.third {
  //   font-size: 0.825em;
  //   font-weight: 700;
  // }

  // &.grey {
  //   // color: rgba($raven_grey, 1);
  // }
}

// @include breakpoint($tablet) {
//   p {
//     &.main {
//       font-size: 1em;
//     }

//     &.secondary {
//       font-size: 1em;
//       font-weight: 300;
//     }

//     &.third {
//       font-size: 1em;
//       font-weight: 700;
//     }
//   }
// }
