@import './variables';

@mixin breakpoint($device) {
  @media only screen and (min-width: $device) {
    @content;
  }
}

@mixin df {
  // border: 1px solid $green_haze;
  @include shadow--dev;
}

@mixin df--two {
  @include shadow--dev($green_haze);
}

@mixin df--three {
  @include shadow--dev($bismark_blue);
}

// 10px = 0.625rem
// 12px = 0.75rem
// 13px = 0.8125rem
// 14px = 0.875rem.
// 16px = 1rem (base)
// 18px = 1.125rem
// 20px = 1.25rem
// 24px = 1.5rem
// 30px = 1.875rem

@mixin font--h1 {
  @include font--huge;
  font-weight: bold;
}

@mixin font--h2 {
  @include font--bigger;
  font-weight: bold;
}

@mixin font--h3 {
  @include font--big;
  font-weight: bold;
}

@mixin font--h4 {
  @include font--small;
  font-weight: bold;
}

@mixin font--h5 {
  @include font--smaller;
  font-weight: bold;
}

@mixin font--h6 {
  @include font--tiny;
  font-weight: bold;
}

@mixin font--p {
  @include font--default;
}

@mixin font--input {
  font-size: 0.9rem;
}

@mixin fontSize($size) {
  font-size: $size;
}
@mixin font--huge {
  @include fontSize(1.625rem);
}

@mixin font--bigger {
  @include fontSize(1.25rem);
}

@mixin font--big {
  @include fontSize(1.125rem);
}

@mixin font--default {
  @include fontSize(1rem);
  font-family: $default_font;
}

@mixin font--small {
  @include fontSize(0.9125rem);
}

@mixin font--smaller {
  @include fontSize(0.8725em);
}

@mixin font--smallest {
  @include fontSize(0.8125em);
}

@mixin font--tiny {
  @include fontSize(0.75rem);
}

@mixin container {
  border: 1px solid $mystic_grey;
}

@mixin container--rounded {
  @include container;
  border-radius: 1rem;
}

@mixin control--field {
  outline: none;
}

@mixin shadow--1 {
  box-shadow: 0px 1px 1px 1px rgba($mystic_grey, 1);
}
@mixin shadow--dev($color: $error_red) {
  box-shadow: inset 0px 0px 2px 1px rgba($color, 1);
}

@mixin resetButton {
  border: 0;
  background: 0;
  outline: none;
}

@mixin noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

@mixin --uppercase {
  text-transform: uppercase;
}
