// Colors
$midnight: rgb(0, 0, 0);
$default_white: rgb(255, 255, 255);
$catskill_white: rgb(245, 248, 250);
$mystic_grey: rgb(218, 224, 230);
$raven_grey: rgb(109, 115, 120);
$dark_grey: rgb(102, 102, 102);
$malachite_green: rgb(0, 215, 95);
$green_haze: rgb(0, 159, 116);
$error_red: rgb(242, 90, 85);
$caution_yellow: rgb(247, 220, 62);
$dark_yellow: rgb(245, 187, 61);
$midnight: rgb(0, 28, 51);
$vemo_blue: rgb(15, 119, 197);
$highlight_blue: rgb(0, 146, 255);
$horizon_blue: rgb(92, 125, 153);
$bismark_blue: rgb(64, 99, 128);
$default_black: rgb(0, 0, 0);


$text--default: $midnight;
$primary: $vemo_blue;
$primary--light: lighten($primary, 10);
$primary--dark: darken($primary, 10);
$primary--contrastText: $default_white;

$secondary: $error_red;
$secondary--light: lighten($secondary, 10);
$secondary--dark: darken($secondary, 10);
$secondary--contrastText: $default_white;

$ghost: $mystic_grey;
$ghost--light: lighten($ghost, 2.5);
$ghost--dark: darken($ghost, 20);
$ghost--contrastText: darken($ghost, 30);

$off-white: rgb(250,250,250);
$off-white--accent: darken($off-white, 7.5);


// Layout
$header_height_mobile: 3.25rem;
$header_height_tablet: 4.25rem;
$max_width: 90rem;
$desktop_nav_width: 12.5em;

// Breakpoints
$mobile:            32.5rem;
$tablet:            43.75rem;
$tablet_landscape:  64rem;
$desktop:           75rem;

// Indexes
$lowest_index:  -1;
$low_index:     100;
$medium_index:  400;
$high_index:    900;
$higher_index:  990;
$highest_index: 999;

// Fonts
$default_font: 'proxima-nova', sans-serif;
