@import '../../scss/globals.scss';

.o-userMenu {
  border-bottom: 1px solid $mystic_grey;
  border-top: 1px solid $mystic_grey;
  margin: 0 0 1rem;
  text-align: center;

  &-menu-row {
    display: flex;
    justify-content: left;
    padding: 0.75rem 2.5rem;
    .a-link {
      color: $text--default;
      fill: $text--default;
      height: min-content;
    }
  }

  &-button {
    @include font--h5;
    padding: .5rem 0 .5rem 1.25rem;
    text-align: left;

    > span {
      align-items: center;
      display: grid;
      grid-gap: 0.25rem;
      grid-template: '. icon' / auto 1.5em;
      padding: 0.5rem;

      .svgIcon {
        grid-area: icon;
      }
    }
  }
}

button {
  @include font--huge();
}
