<template>
    
        <lightning-record-view-form record-id={recordId} object-api-name="Account"> 
            <div class="slds-box">
               
               <!--<lightning-output-field field-name="Servicer_Logo__c"></lightning-output-field>-->
                <lightning-output-field field-name="Servicer_Name__c"></lightning-output-field>
                <lightning-output-field field-name="Servicer_Address_for_Correspondence__c"></lightning-output-field>
                <lightning-output-field field-name="Servicer_Address_for_Payments__c"></lightning-output-field>
                <lightning-output-field field-name="Servicer_Phone_Number__c"></lightning-output-field>
                <lightning-output-field field-name="Servicer_Website__c"></lightning-output-field>
                <lightning-output-field field-name="Hours_of_Operation__c"></lightning-output-field>
                
            </div>

        </lightning-record-view-form>
 
</template>