.m__program-attendance-period {
  span {
    display: flex !important;

    h3 {
      //display: inline-block;
      //width: 50%;
    }
    h3.attendance-header{
      font-size: .75rem;
      font-weight: 600;
      //color:$raven_grey;
      margin-top: 2em;
      flex: 1;
      margin-bottom: -1em;
    }
    h4.attendance-date{
      font-weight: 600;
    }
    h4.dash {
      width: 23%;
      text-align: center;	
      color: #001C33;	
      line-height: 21px;
      //display: block;
    }
    
  }
  @include breakpoint($tablet) {
    h3.attendance-header{
      font-size: 1.125em;
      font-weight: bold;
      color:$midnight;
      margin-top: 0em;
      flex: 1;
      margin-bottom: -1em;
    }
    h4.attendance-date{
      font-weight: bold;
    }
   


  }
}
