.m__program-info-block {
  margin: 0 0 1.2em;

  h3 {
    display: block;
    margin: 0 0 0.6em;
    
  }
  h5{
    color:$raven_grey;
    font-weight: 400;
  }

  p {
    display: block;
    margin: 0 0 0.6em;
  }
}
