@import '../../scss/globals.scss';

.o-header {
  display: grid;
  grid-template: 'title actions' / auto auto;
  padding: 0.5rem;

  &-pageTitle {
    align-items: center;
    display: flex;
    grid-area: title;
    color: $text--default;
    white-space: nowrap;
  }

  &-actions {
    align-items: stretch;
    display: flex;
    grid-area: actions;
    justify-content: flex-end;

    display: grid;
    grid-template: 'search notifications user' / auto auto auto;
  }
}

.m-headerAction {
  @include resetButton;
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
  height: 44px;
  width: 44px;
}
