.switch {
    position: relative;
    display: block;
    width: 3.9em;
    height: 1.6em;
    padding: 0em 1em 0em 0em;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  //left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  border-radius: 34px;
  width: 65px;

}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  bottom: 3px;
  background-color: white;
  /*-webkit-transition: .4s;
  transition: .4s;*/
  border-radius: 50%;
  font-family: monospace;
  left: 4px;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
  left:-1em;
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 72%;
 font-size: 14px;
 font-weight:500
 
}

input:checked + .slider:after
{  
  content:'ON';
  left:28%;
  font-weight: 500;
  font-size: 14px;
  /*display:absolute;*/
}
