@import '../../scss/globals.scss';

.o-panelSection {
  $dotSize: 1.2rem;
  $dotColor: $mystic_grey;

  &-row {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;

    &.--withDots {
      display: grid;
      grid-template: 'dot content' / ($dotSize * 1.25) auto;
      padding-left: 0.5rem;
    }

    &:first-of-type {
      border-top: 1px solid $dotColor;

      .o-panelSection-row-container {
        border-top: 0;
      }

      .o-panelSection-dot-bar {
        height: 50%;
        bottom: 0;
      }
    }

    &:last-of-type {
      border-bottom: 1px solid $dotColor;
      .o-panelSection-dot-bar {
        height: 50%;
        top: 0;
      }
    }
  }

  &-dot-container {
    grid-area: dot;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
  }

  &-dot-bar {
    background-color: $dotColor;
    height: calc(100% + 1rem);
    margin-left: calc(#{$dotSize/2} - 1px);
    position: absolute;
    width: 2px;
  }

  &-dot {
    background: $dotColor;
    border: ($dotSize/5) solid white;
    border-radius: 100%;
    grid-area: dot;
    height: $dotSize;
    max-width: $dotSize;
    position: relative;
    width: $dotSize;
    z-index: 1;
  }

  &-row-container {
    border-top: 1px solid $dotColor;
    grid-area: content;
    padding: 1.25rem 0;
  }
}
