<apex:page sidebar="false">
    <apex:includeScript value="/lightning/lightning.out.js" />
    <style>
        html, body {
        margin: 0;
        padding: 0;
        }
        #lightningComponent {width: 100%;}
    </style>
    <div id="content">
        <div id="lightning" />
    </div>
    <script>
    //Tell your Visualforce page to use ExposeVF Lightning app
    
        $Lightning.use("c:ApexJobControl", function() {
            // Write a function that creates the component on the page
          console.log("Component creation started");
          $Lightning.createComponent("c:ApexJobControlComponent","",
                                     "lightning",
          function(cmp) {
            // do some stuff
          });
        });
    </script>
</apex:page>