<apex:page >
    <head>
        <style>
          .container{
              margin:2%;
          }
        </style>
        <apex:slds />
    </head>
    <div class="container slds-scope">
        <center>
            <div class="slds-text-heading_large">Custom Reports</div>
        </center>
        <br/><br/>
        <div class="slds-text-longform">
        <h3 class="slds-text-heading_medium" style="width:100%">Finance Reports</h3>
        <ul>
            <li class="slds-list__item"><a href="/apex/ReportPeriodicClients?mode=program" target="_blank">Periodic (non-AUM) Clients By Program-Student</a></li>
            <li class="slds-list__item"><a href="/apex/ReportPeriodicClients?mode=school" target="_blank">Periodic (non-AUM) Clients By School-Student</a></li>
            <li class="slds-list__item"><a href="/apex/ReportPeriodicClients2" target="_blank">Student Pipeline Report</a></li>
            <li class="slds-list__item"><a href="/apex/ReportMonthlyInvestorPeriodic" target="_blank">Monthly Investor Report - Periodic v1 (deprecated)</a></li>
            <li class="slds-list__item"><a href="/apex/ReportMonthlyInvestorPeriodicCopy" target="_blank">Monthly Investor Report - Periodic v2</a></li>
            <li class="slds-list__item"><a href="/apex/ReportMonthlyInvestorStatic" target="_blank">Monthly Investor Report - Static v1 (deprecated)</a></li>
            <li class="slds-list__item"><a href="/apex/ReportMonthlyInvestorStaticCopy" target="_blank">Monthly Investor Report - Static v2</a></li>
            <li class="slds-list__item"><a href="/apex/ReportAllAccountsWithIncome" target="_blank">Monthly Investor Report - ISA Data v1 (deprecated)</a></li>
            <li class="slds-list__item"><a href="/apex/ReportAllAccountsWithIncomeCopy1" target="_blank">Monthly Investor Report - ISA Data v2</a></li>
            <li class="slds-list__item"><a href="/apex/ReportBillingVolume" target="_blank">Billing Volume</a></li>
            <li class="slds-list__item"><a href="/apex/ReportTotalAccountsWithISAPayment" target="_blank">Total Accounts With ISA Payment</a></li>
            <!--<li class="slds-list__item"><a href="/apex/ReportAllAccountsWithIncomeAllProgram" target="_blank">All Accounts With Income - All Program</a></li>-->
            <li class="slds-list__item"><a href="/apex/ReportFlowpoint" target="_blank">Flowpoint Report</a></li>
            <li class="slds-list__item"><a href="/apex/ReportServicingBankReconciliationCopy" target="_blank">Servicing Bank Reconciliation v2</a></li>
            <li class="slds-list__item"><a href="/apex/ReportServicingBankReconciliationCopy1" target="_blank">Servicing Bank Reconciliation v3</a></li>
        </ul>
        </div>
        <br/>
        <div class="slds-text-longform">
        <h3 class="slds-text-heading_medium" style="width:100%">Underwriting Reports</h3>
        <ul>
            <li class="slds-list__item"><a href="/apex/Report_Application" target="_blank">Application Report</a></li>
            <li class="slds-list__item"><a href="/apex/ReportCreditCheck" target="_blank">Credit Check Report</a></li>
            <li class="slds-list__item"><a href="/apex/ReportInvestorAccounts" target="_blank">Investor Accounts</a></li>
        </ul>
        </div>
        <br/>
        <div class="slds-text-longform">
        <h3 class="slds-text-heading_medium" style="width:100%">Sales Reports</h3>
        <ul>
            <li class="slds-list__item"><a href="/apex/ReportSalesForecast" target="_blank">Sales Forecast Report - Actual Data</a></li>
        </ul>
        </div>
        <br/>
        <div class="slds-text-longform">
        <h3 class="slds-text-heading_medium" style="width:100%">Clearinghouse Reports</h3>
        <ul>
            <li class="slds-list__item"><a href="/apex/ReportClearinghouse" target="_blank">Clearinghouse Enrollment with Student Program Data</a></li>
            <li class="slds-list__item"><a href="/apex/ReportClearinghouseDateFilters" target="_blank">Clearinghouse Enrollment with Student Program Data with Date Filters</a></li>
            <li class="slds-list__item"><a href="/apex/ReportClearinghouseDateFilters?mode=copy" target="_blank">Clearinghouse Enrollment with Student Program Data with Date Filters Copy</a></li>
        </ul>
        </div>
    </div>
</apex:page>