<apex:page standardController="ReconciliationDetail__c" showHeader="true" sidebar="true">
    <apex:includeLightning />
    <script>
        function initComponent(){
            $Lightning.use("c:GenericDocumentViewApp", function(){
                $Lightning.createComponent(
                    "c:GenericDocumentViewComp",
                    {
                        recordId:"{!record.Id}"
                    },
                    "lightningComponentDiv",
                    function(cmp){
 
                    });
            });
        }
        initComponent();
    </script>
    <div id="lightningComponentDiv"/>
</apex:page>