<apex:page controller="ReportServicingBankReconciliationCopy" readOnly="true" sidebar="false" applyBodyTag="false" showHeader="false" contentType="application/vnd.ms-excel#ServicingBankReconciliation.xls" action="{!runReport}"> 
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
      
      function showSpinner(){
          document.getElementById('spinner').style.display= 'block';
      }
      
      function hideSpinner(){
          document.getElementById('spinner').style.display= 'none';
      }
      
      function tableHeader(){
        var tableOffset = $("#table-1").offset().top;
        //var tableOffset = $("#table-1").offset();
        //alert($("#table-1").offset().left);
        var $header = $("#table-1 > thead");
        //alert('@@@'+$header);
        //alert('123');
        var $fixedHeader = $("#header-fixed").append($header.clone());
        //alert('12345');
        $(window).bind("scroll", function() {
            //alert('scroll');
            var offset = $(this).scrollTop();
            
            if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
                
                var count = 0;
                $.each($header.find('tr > th'), function(ind,val){
                  var original_width = $(val).width();
                  if(count ==0){
                      original_width += 32;
                      count++;
                  }
                  else{
                      original_width += 16;
                  }
                  $($fixedHeader.find('tr > th')[ind]).attr('style','min-width:' + original_width + 'px !important;');
                  //width(original_width);
                });
                //$($fixedHeader.find('tr>th:first-child')).attr('style','padding-left: 1.5rem !important;');
                $fixedHeader.show();
            }
            else if (offset < tableOffset) {
                $fixedHeader.hide();
            }
            
            
            $('#header-fixed').css({
                'left': ($(this).scrollLeft() * -1)+27 
            });
        });
      }
      
      $(document).ready(function() {
            tableHeader();       
      });
  </script>
  <style>
      .container{
          margin:2%;
      }
      th a{
          display:block;
          width:100%;
      }
      #header-fixed { 
          position: fixed; 
          top: 0px; display:none;
          background-color:white;
          z-index:100;
      }
      .right{
          text-align:right !important;
      } 
      .left{
          text-align:left !important;
      }   
      .center{
          text-align:center !important;
      }
      .SPBGColor{
          background:#f4f6fe !important;
      }
  </style>
  <apex:slds />
  </head>
  
  <div class="container slds-scope">
  <apex:form id="frm1">      
      
      <!-----------------------------------Report Data Section ------------------------------------------->
      <div>
            <apex:outputPanel id="displayData">
                       
            <!-- SPINNER -->
                    <div id="spinner" class="slds-spinner_container" style="display:none;">
                        <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand">
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
            <!-- / SPINNER -->
            <!--<div class="slds-text-heading_small">Total Rows: {!If(reportData == null,0,reportData.size)}</div>-->
            
                <table id="header-fixed" class="slds-table slds-table_bordered slds-table_cell-buffer"></table>
                <table id="table-1" class="slds-table slds-table_bordered slds-table_cell-buffer">
                    <thead>
                        <tr class="slds-text-heading--label">
                            <th>Payment Instruction Number</th>
                            <th>Account Name</th>
                            <!--<th>Vemo Contract Number</th>-->
                            <th>Amount</th>
                            <th>Amount Allocated</th>
                            <th>Remaining Allocation</th>
                            <!--<th>Total Received</th>-->
                            <th>Amount Posted</th>                            
                            <th>Date Posted</th>                            
                            <th>Primary Owner</th>
                            <th>Fund Owner</th>
                            <th>Payment Stream Owner</th>
                        </tr>
                    </thead>
                    
                    <apex:repeat value="{!reportData}" var="rdata">
                        <tr>
                           <td  style="background:#c0d4f1;">
                              <b>School:  
                                  {!rdata.schoolName}
                              </b>
                           </td>
                           <td style="background:#c0d4f1;"></td>
                           <!--<td style="background:#c0d4f1;"></td>-->
                           <td style="background:#c0d4f1;"><b>{!rdata.totalAmount}</b></td>
                           <td style="background:#c0d4f1;"><b>{!rdata.totalAmountAllocated}</b></td>
                           <td style="background:#c0d4f1;"><b>{!rdata.totalRemainingAllocated}</b></td>
                           <!--<td style="background:#c0d4f1;"><b><apex:outputText value="{!rdata.totalAmountAllocated + rdata.totalRemainingAllocated}"/></b></td>-->                           
                           <td colspan="5" style="background:#c0d4f1;"><b>{!rdata.totalAmountPosted}</b></td> 
                        </tr>
                        
                        <apex:repeat value="{!rdata.paymentInstructions}" var="pI">
                            <tr>
                                <td>{!pI.Name}</td>
                                <td>{!pI.Student__r.Name}</td>
                                <!--<td>
                                <table>
                                    <apex:repeat value="{!spMap[pI.Student__c]}" var="sp">
                                        <tr>
                                            <td>{!sp.VemoContractNumber__c}</td>                                            
                                        </tr>
                                    </apex:repeat>
                                </table>
                                </td>-->
                                <td>{!pI.Amount__c}
                                    <!--<table>
                                    <apex:repeat value="{!pI.Payment_Allocations__r}" var="pA">
                                        <tr>
                                            <td>{!pA.AmountAllocated__c}</td>                                            
                                        </tr>
                                    </apex:repeat>
                                </table>-->
                                </td>
                                <td>{!pI.AmountAllocated__c}</td>
                                <td>{!pI.RemainingAllocation__c}</td>
                                <!--<td><apex:outputText value="{!pI.AmountAllocated__c + pI.RemainingAllocation__c}"/></td>-->
                                <td><apex:outputText value="{!pI.AmountPosted__c}"/></td>
                                <td>
                                    <apex:outputText value="{0,date,M/d/yyyy}">
                                        <apex:param value="{!pI.DatePosted__c}" /> 
                                    </apex:outputText>
                                </td>                         
                                <td>
                                <table>
                                    <apex:repeat value="{!spMap[pI.Student__c]}" var="sp">
                                        <tr>
                                            <td>{!sp.PrimaryOwner__r.Name}</td>                                            
                                        </tr>
                                    </apex:repeat>
                                </table>
                                </td>
                                <td>
                                <table>
                                    <apex:repeat value="{!spMap[pI.Student__c]}" var="sp">
                                        <tr>                                            
                                            <td>{!sp.FundOwner__r.Name}</td>                                            
                                        </tr>
                                    </apex:repeat>
                                </table>
                                </td>
                                <td>
                                <table>
                                    <apex:repeat value="{!spMap[pI.Student__c]}" var="sp">
                                        <tr>                                            
                                            <td>{!sp.PaymentStreamOwner__r.Name}</td>
                                        </tr>
                                    </apex:repeat>
                                </table>
                                </td>
                            </tr>
                        </apex:repeat>
                    </apex:repeat>   
                </table>
            </apex:outputPanel>
        </div>
  </apex:form>
  </div>
</apex:page>