<apex:page controller="ReportMnthlyInvstrPeriodicControllerCopy" readOnly="true" sidebar="false" applyBodyTag="false" showHeader="false"> 
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
      
      function showSpinner(){
          document.getElementById('spinner').style.display= 'block';
      }
      
      function hideSpinner(){
          document.getElementById('spinner').style.display= 'none';
      }
      
      function tableHeader(){
        var tableOffset = $("#table-1").offset().top;
        var $header = $("#table-1 > thead");
        var $fixedHeader = $("#header-fixed").append($header.clone());
        $(window).bind("scroll", function() {
            //alert('scroll');
            var offset = $(this).scrollTop();
            
            if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
                $fixedHeader.show();
                
                //$.each($header.find('tr > th'), function(ind,val){
                //  var original_width = $(val).width();
                //  $($fixedHeader.find('tr > th')[ind]).width(original_width);
                //});
            }
            else if (offset < tableOffset) {
                $fixedHeader.hide();
            }
            
            $('#header-fixed').css({
                'left': ($(this).scrollLeft() * -1)+27 
            });
        });
      }
      
      $(document).ready(function() {
            tableHeader();       
      });
  </script>
  <style>
      .container{
          margin:2%;
      }
      th a{
          display:block;
          width:100%;
      }
      th {
          font-family: Century Gothic;
          color: white;
      }
      #header-fixed { 
          position: fixed; 
          top: 0px; display:none;
          background-color:white;
          z-index:100;
      }
          
  </style>
  <apex:slds />
  </head>
  
  <div class="container slds-scope">
  <apex:form id="frm1">
      <!-------------------------------------Hidden Parameters--------------------------------------------->
      <input type="hidden" name="currentvfpage" value="{!$CurrentPage.Name}"/>
      
      <!----------------------------------------- Filters Section ------------------------------------------>
      <div class="slds-text-heading_medium" style="font-family: Century Gothic;">
            Monthly Investor Report - Periodic v2
      </div>
      <div class="slds-box" style="font-family: Century Gothic;">
              <table>
                  <col width="50%"/>
                  
                  <tr>
                      <td style="font-family: Century Gothic;"><b>Select Program</b></td>
                  </tr>
                  <tr>
                      <td style="font-family: Century Gothic;">
                          <apex:selectList value="{!selectedProgram}" size="1" styleClass="slds-input" style="width:50%;">
                              <apex:selectOptions value="{!Programs}"/>
                          </apex:selectList> 
                      </td>
                  </tr>
              </table>
              <br/><br/>
              <!--
              <div class="slds-box">    
              <div class="slds-text-title_caps"><b>Applied Filters</b></div><br/>
                  <span style="font-weight:bold;">Selected Program</span>&nbsp;<span>equals</span>&nbsp;<span id="schFilter" style="font-weight:bold;"></span><br/>
                  <span style="font-weight:bold;">Transaction Date</span>&nbsp;<span>equals</span>&nbsp;<span id="dtFilter" style="font-weight:bold;"></span>
              </div>
              <br/>
              -->   
              <center>
                  <apex:commandButton value="Run Report" action="{!runReport}" reRender="displayData" oncomplete="hideSpinner();tableHeader();" onclick="showSpinner();" style="font-family: Century Gothic;"/>&nbsp;
                  <apex:commandButton value="Export Excel" action="{!exportToCSV}" style="font-family: Century Gothic;"/>
              </center>
      </div>
           
      <br/>
      
      
      
      <!-----------------------------------Report Data Section ------------------------------------------->
      <div>
            <apex:outputPanel id="displayData">
                       
            <!-- SPINNER -->
                    <div id="spinner" class="slds-spinner_container" style="display:none;">
                        <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand">
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
            <!-- / SPINNER -->
            <div class="slds-text-heading_small" style="font-family: Century Gothic;">Total Rows: {!If(reportData == null,0,reportData.size)}</div>
            
            <table id="header-fixed" class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped"></table>
            <table id="table-1" class="slds-table slds-table_bordered slds-table_cell-buffer">
                
                <tr bgcolor="#03416F">
                    <th>Month</th>
                    <th>Disbursed ISAs</th>
                    <th>Total ISA Disbursements</th>
                    <th>Net ISA Disbursements</th>
                    <th>Remaining ISAs</th>
                    <th>Remaining ISAs as % of Original</th>
                    <th>Contractually Satisfied ISAs</th>
                    <th>Defaulted ISAs</th>
                    <th>Cancelled ISAs and Other Closed Reasons</th>
                    <th>Remaining ISAs in School Status</th>
                    <th>% in School Status</th>
                    <th>Remaining ISAs in Grace Status</th>
                    <th>% in Grace Status</th>
                    <th>Remaining ISAs in Payment Window</th>
                    <th>% in Payment Window</th>
                    <th>ISAs with No Payment Due</th>
                    <th>ISAs with Payment On Time</th>
                    <th>ISAs 30-89 Days Past Due</th>
                    <th>ISAs 90+ Days Past Due</th>
                    <th>Satisifed:  By Paying the Maximum Number of Monthly Payments</th>
                    <th>Satisfied:  By Paying the Payment Cap</th>
                    <th>Satisfied:  By Reaching the End of the Payment Window</th>                    
                    <th>ISA Payments Made($)</th>
                    <th>Cumulative ISA Payments Made($)</th>
                    <th>Median Income</th>
                </tr>
                
                
                <apex:variable var="cumulativePayment" value="{!0}"/>
                <apex:variable var="default" value="{!0}"/>
                <apex:variable var="paid" value="{!0}"/>
                <apex:variable var="totalFunding" value="{!0}"/>
                <apex:variable var="totalISA" value="{!0}"/>
                <apex:repeat value="{!reportData}" var="row">
                    <Apex:variable var="cumulativePayment" value="{!cumulativePayment + row.sumOfIsaPayments}"/>
                    <!--<apex:variable var="default" value="{!default + row.accStatus.numDefault}"/>
                    <apex:variable var="paid" value="{!paid + row.accStatus.numPaid}"/>-->
                    <apex:variable var="totalFunding" value="{!totalFunding + row.fundingAmount.totalFunding}"/>
                    <apex:variable var="totalISA" value="{!totalISA + row.fundingAmount.totalISA}"/>
                    <tr>
                        <td>
                            {!row.month}
                        </td>
                        <td>
                            {!totalISA}
                        </td>
                        <td>
                            <apex:outputText value="{0,number,currency }">
                                <apex:param value="{!totalFunding}"/>
                            </apex:outputText>                            
                        </td>
                        <td>
                            <apex:outputText value="{0,number,currency }">
                                <apex:param value="{!totalFunding-row.cancelledAmount}"/>
                            </apex:outputText>                            
                        </td>
                        <td>
                            {!row.remainingIsaAssets}
                        </td>
                        <td>
                            {!Round((row.remainingIsaAssets/totalISA)*100,2)}%
                        </td>
                        <td>
                            {!row.contractuallySatisfiedIsaAssets}
                        </td>
                        <td>
                            {!row.defaultedIsaAssets}
                        </td>
                        <td>
                            {!row.cancelledIsaAssets}
                        </td>
                        <td>
                            {!row.schoolIsaAssets}
                        </td>
                        <td>
                            {!Round((row.schoolIsaAssets/totalISA)*100,2)}%
                        </td>
                        <td>
                            {!row.graceIsaAssets}
                        </td>
                        <td>
                            {!Round((row.graceIsaAssets/totalISA)*100,2)}%
                        </td>
                        <td>
                            <apex:outputText value="{!row.noPaymentDueIsaAssets + row.onTimePaymentIsaAssets + row.thirty2EightyIsaAssets + row.ninetyPlusIsaAssets}" />
                        </td>
                        <td>
                            {!Round(((row.noPaymentDueIsaAssets + row.onTimePaymentIsaAssets + row.thirty2EightyIsaAssets + row.ninetyPlusIsaAssets)/totalISA)*100,2)}%
                        </td>
                        <td>
                            {!row.noPaymentDueIsaAssets}
                        </td>
                        <td>
                            {!row.onTimePaymentIsaAssets}
                        </td>
                        <td>
                            {!row.thirty2EightyIsaAssets}
                        </td>
                        <td>
                            {!row.ninetyPlusIsaAssets}
                        </td>
                        <td>
                            {!row.byPayingTheMaxNumOfMonthlyPaymentsIsaAssets}
                        </td>
                        <td>
                            {!row.byPayingThePaymentCapIsaAssets}
                        </td>
                        <td>
                            {!row.byReachingTheEndOfThePaymentWindowIsaAssets}
                        </td>
                        <td>
                            <apex:outputText value="{0,number,currency }">
                                <apex:param value="{!row.sumOfIsaPayments}"/>
                            </apex:outputText>                            
                        </td>
                        <td>
                            <apex:outputText value="{0,number,currency }">
                                <apex:param value="{!cumulativePayment}"/>
                            </apex:outputText>                            
                        </td>
                        <td>
                            <apex:outputText value="{0,number,currency }" rendered="{!IF(!ISNULL(row.incData.median),true,false)}">
                                <apex:param value="{!row.incData.median}"/>
                            </apex:outputText>
                            <apex:outputText value="N/A" rendered="{!IF(ISNULL(row.incData.median),true,false)}"/>                           
                            
                        </td>
                    </tr>
                </apex:repeat>
                
                
            </table>
            </apex:outputPanel>
            
      </div>
      
      
  </apex:form>
  </div>
</apex:page>