<apex:page controller="ReportMnthlyInvstrStaticControllerCopy" readOnly="true" sidebar="false" applyBodyTag="false" showHeader="false" > 
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
      
      function showSpinner(){
          document.getElementById('spinner').style.display= 'block';
      }
      
      function hideSpinner(){
          document.getElementById('spinner').style.display= 'none';
      }
      /*************************************************************************************************************************/
      var primaryOwnerMap;
      var fundOwnerMap;
      var paymentStreamOwnerMap;
      window.onload = function(e){ 
          buildOwnerMap();
          //initializeFilters();
          
      }
      
      /*function initializeFilters(){
          buildPrimaryOwnerFilter();
          //buildDateFilter();    
      }*/
      
      function buildOwnerMap(){
          var jsonString = '{';
          <apex:repeat var="row" value="{!primaryOwners}">
              //console.log('{!row}');
              jsonString += '"{!JSENCODE(row.primaryOwner.name)}":';
              jsonString += '"{!row.selected}",' 
          </apex:repeat>
          jsonString  = jsonString.substring(0, jsonString.length - 1);
          jsonString += '}';
          
          primaryOwnerMap= JSON.parse(jsonString);
          fundOwnerMap= JSON.parse(jsonString);
          paymentStreamOwnerMap= JSON.parse(jsonString);
          
          console.log(primaryOwnerMap);
                     
      }
      
      function toggleFilter(name,element,s){
          var value = element.checked;
          console.log(name);
          console.log(value);
          console.log(s);
          if(s == 'poMasterCheckbox')
              primaryOwnerMap[name] = value;
          if(s == 'foMasterCheckbox')
              fundOwnerMap[name] = value;
          if(s == 'psoMasterCheckbox')
              paymentStreamOwnerMap[name] = value;          
          if(value == false){
              document.getElementsByClassName(s)[0].checked = false;
          }
          //buildPrimaryOwnerFilter();
          
      }
      
      function checkAll(element,s){
          var value = element.checked;
          
          var checkboxes = document.getElementsByClassName(s);                                        
          for(var i=0; i<checkboxes.length; i++){          
                checkboxes[i].checked = value;
          }
          console.log('checkall: '+value);
          
          if(s == 'primaryOwnerCheckbox'){              
              for(var key in primaryOwnerMap){
                  primaryOwnerMap[key] = value;
              }
          }
          if(s == 'fundOwnerCheckbox'){
              for(var key in fundOwnerMap){
                  fundOwnerMap[key] = value;
              }
          }
          if(s == 'paymentStreamOwnerCheckbox'){
              for(var key in paymentStreamOwnerMap){
                  paymentStreamOwnerMap[key] = value;
              }
          }
          //buildPrimaryOwnerFilter();
      }
      
      /*function buildPrimaryOwnerFilter(){
          var filterString = '';
          var show = false;
          var count = 1;
          for (var key in primaryOwnerMap) {
              if (primaryOwnerMap.hasOwnProperty(key)) {
                var val = primaryOwnerMap[key];
                if(val == true){
                    show = true;
                    if(count != 1) filterString += ','; 
                    filterString += key;
                    count++;
                }
                
              }
          }
          
          console.log(filterString);
          if(show == true){
              document.getElementById('poFilter').textContent = filterString;
          }
          else{
              document.getElementById('poFilter').textContent = 'All';
          }
              
          
      }*/
      
      function toggleSelector(s){
          var state = document.getElementById(s).style.display;
          console.log(state);
          if(state == 'none'){
              document.getElementById(s).style.display= 'block';
          }
          else{
              if(state == 'block'){
                  document.getElementById(s).style.display= 'none';
              }
          }
          return false;
      }
      /*************************************************************************************************************************/
      function tableHeader(){
        var tableOffset = $("#table-1").offset().top;
        var $header = $("#table-1 > thead");
        var $fixedHeader = $("#header-fixed").append($header.clone());
        $(window).bind("scroll", function() {
            //alert('scroll');
            var offset = $(this).scrollTop();
            
            if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
                $fixedHeader.show();
                
                //$.each($header.find('tr > th'), function(ind,val){
                //  var original_width = $(val).width();
                //  $($fixedHeader.find('tr > th')[ind]).width(original_width);
                //});
            }
            else if (offset < tableOffset) {
                $fixedHeader.hide();
            }
            
            $('#header-fixed').css({
                'left': ($(this).scrollLeft() * -1)+27 
            });
        });
      }
      
      $(document).ready(function() {
            tableHeader();       
      });
  </script>
  <style>
      .container{
          margin:2%;
      }
      th a{
          display:block;
          width:100%;
          font-family: Century Gothic;
      }
      #header-fixed { 
          position: fixed; 
          top: 0px; display:none;
          background-color:white;
          z-index:100;
      }
          
  </style>
  <apex:slds />
  </head>
  
  <div class="container slds-scope">
  <apex:form id="frm1">
      <!-------------------------------------Hidden Parameters--------------------------------------------->
      <input type="hidden" name="currentvfpage" value="{!$CurrentPage.Name}"/>
      
      <!----------------------------------------- Filters Section ------------------------------------------>
      <div class="slds-text-heading_medium" style="font-family: Century Gothic;">
            Monthly Investor Report - Static v2
      </div>
      <div class="slds-box" style="font-family: Century Gothic;">
              <table>
                  <col width="50%"/>
                  
                  <tr>
                      <td style="font-family: Century Gothic;"><b>Select School</b></td>
                  </tr>
                  <tr>
                      <td style="font-family: Century Gothic;">
                          <apex:selectList value="{!selectedSchool}" size="1" styleClass="slds-input" style="width:50%;">
                              <apex:selectOptions value="{!Schools}"/>
                          </apex:selectList>
                      </td>                      
                  </tr>
                  <tr>
                      <td style="font-family: Century Gothic;"><a href="#" onclick="toggleSelector('primaryOwnerSelector')">Select Primary Owner</a></td>
                  </tr>
                  <tr>
                      <td style="font-family: Century Gothic;"><a href="#" onclick="toggleSelector('fundOwnerSelector')">Select Fund Owner</a></td>
                  </tr>
                  <tr>
                      <td style="font-family: Century Gothic;"><a href="#" onclick="toggleSelector('paymentStreamOwnerSelector')">Select Payment Stream Owner</a></td>
                  </tr>
                  <!--<tr>
                      <td style="font-family: Century Gothic;"><b>Select Primary Owner</b></td>
                  </tr>
                  <tr>
                      <td style="font-family: Century Gothic;">
                          <apex:selectList value="{!selectedPrimaryOwner}" size="1" styleClass="slds-input" style="width:50%;" multiSelect="true">
                              <apex:selectOptions value="{!Owners}"/>
                          </apex:selectList> 
                      </td>
                  </tr>
                  <tr>
                      <td style="font-family: Century Gothic;"><b>Select Fund Owner</b></td>
                  </tr>
                  <tr>
                      <td style="font-family: Century Gothic;">
                          <apex:selectList value="{!selectedFundOwner}" size="1" styleClass="slds-input" style="width:50%;" multiSelect="true">
                              <apex:selectOptions value="{!Owners}"/>
                          </apex:selectList> 
                      </td>
                  </tr>                  
                  <tr>
                      <td style="font-family: Century Gothic;"><b>Select Payment Stream Owner</b></td>
                  </tr>
                  <tr>
                      <td style="font-family: Century Gothic;">
                          <apex:selectList value="{!selectedPrimaryStreamOwner}" size="1" styleClass="slds-input" style="width:50%;" multiSelect="true">
                              <apex:selectOptions value="{!Owners}"/>
                          </apex:selectList> 
                      </td>
                  </tr>-->
              </table>
              <br/><br/>
              <!--
              <div class="slds-box">    
              <div class="slds-text-title_caps"><b>Applied Filters</b></div><br/>
                  <span style="font-weight:bold;">Selected Program</span>&nbsp;<span>equals</span>&nbsp;<span id="schFilter" style="font-weight:bold;"></span><br/>
                  <span style="font-weight:bold;">Transaction Date</span>&nbsp;<span>equals</span>&nbsp;<span id="dtFilter" style="font-weight:bold;"></span>
              </div>
              <br/>
              -->   
              <center>
                  <apex:commandButton value="Run Report" action="{!runReport}" reRender="displayData" oncomplete="hideSpinner();tableHeader();" onclick="showSpinner();"/>&nbsp;
                  <apex:commandButton value="Export Excel" action="{!exportToCSV}"/>
              </center>
      </div>
           
      <br/>
      
      
      
      <!-----------------------------------Report Data Section ------------------------------------------->
      <div>
            <apex:outputPanel id="displayData">
                       
            <!-- SPINNER -->
                    <div id="spinner" class="slds-spinner_container" style="display:none;">
                        <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand">
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
            <!-- / SPINNER -->
            
            <table id="header-fixed" class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped"></table>
            <table id="table-1" class="slds-table slds-table_bordered slds-table_cell-buffer">
                
                <tr bgcolor="#FFFFFF">
                    <th style="font-family: Century Gothic;"><b>Program #</b></th>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;"><b>{!row.programNumber}</b></th>
                    </apex:repeat>
                </tr>
                <tr bgcolor="#FFFFFF">
                    <th style="font-family: Century Gothic;"><b>Program Name</b></th>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;"><b>{!row.programName}</b></th>
                    </apex:repeat>
                </tr>
                
                <tr bgcolor="#03416F">
                    <td style="font-family: Century Gothic;" colspan="{!reportData.size + 1}"><font color="white">Overall Characteristics</font></td>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">Disbursed ISAs</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.originalIsaAssests}</th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">Total ISA Disbursements</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">
                            <apex:outputText value="{0,number,currency }">
                                <apex:param value="{!row.sumOfFundingAmount}"/>
                            </apex:outputText>
                        </th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">Net ISA Disbursements</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">
                            <apex:outputText value="{0,number,currency }">
                                <apex:param value="{!row.sumOfFundingAmount - row.sumOfCancelledAmount}"/>
                            </apex:outputText>
                        </th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">Max ISA Shared Payments</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">
                            <apex:outputText value="{0,number,currency }">
                                <apex:param value="{!row.sumOfPaymentCap}"/>
                            </apex:outputText>
                        </th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">WAVG Income Share</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">
                            <apex:outputText value="{0,number,#0.00 }%" >
                                    <apex:param value="{!row.avgIncomeShare}"/>
                            </apex:outputText>
                        </th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">WAVG Maximum Number of Monthly Payments</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.avgPaymentTerm}</th>
                    </apex:repeat>
                </tr>
                <tr bgcolor="#03416F">
                    <td style="font-family: Century Gothic;" colspan="{!reportData.size + 1}"><font color="white">Performance Overview as of Servicing Cut-off Date</font></td>
                </tr>                
                <tr>
                    <td style="font-family: Century Gothic;">Remaining ISAs</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.remainingISAAssets}</th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">Remaining ISAs as % of Original</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">
                            <apex:outputText value="{0,number,#0.00 }%" >
                                    <apex:param value="{!row.remainingIsapercentOrig}"/>
                            </apex:outputText>
                        </th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">Contractually Satisfied ISAs</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.contractuallySatisfiedIsaAssets}</th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">Defaulted ISAs</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.defaultIsaAssets}</th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">Cancelled ISAs and Other Closed Reasons</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.cancelledISAAssets}</th>
                    </apex:repeat>
                </tr>
                <tr bgcolor="#1C79C3">
                    <td style="font-family: Century Gothic;" colspan="{!reportData.size + 1}"><font color="white">Remaining ISAs by Status</font></td>
                </tr>                
                <tr>
                    <td style="font-family: Century Gothic;">Remaining ISAs in School Status</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.countInSchoolISA}</th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">Remaining ISAs in Grace Status</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.countInGraceISA}</th>
                    </apex:repeat>
                </tr>
                <tr >
                    <td style="font-family: Century Gothic;">Remaining ISAs in Payment Window</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.isaNoPaymentDue + row.isaOnTimePayment + row.isaThirtyToEightyNineDel + row.isaNinetyPlusDel}</th>
                    </apex:repeat>
                </tr>
                <tr bgcolor="#1C79C3">
                    <td style="font-family: Century Gothic;" colspan="{!reportData.size + 1}"><font color="white">Remaining ISAs in Payment Window by Status</font></td>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">ISAs with No Payment Due</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.isaNoPaymentDue}</th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">ISAs with Payment On Time</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.isaOnTimePayment}</th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">ISAs 30-89 Days Past Due</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.isaThirtyToEightyNineDel}</th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">ISAs 90+ Days Past Due</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.isaNinetyPlusDel}</th>
                    </apex:repeat>
                </tr>
                <tr bgcolor="#1C79C3">
                    <td style="font-family: Century Gothic;" colspan="{!reportData.size + 1}"><font color="white">Contractually Satisfied ISAs by Status</font></td>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">By Paying the Maximum Number of Monthly Payments</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.byPayingTheMaximumNumberOfMonthlyPayments}</th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">By Paying the Payment Cap</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.byPayingThePaymentCap}</th>
                    </apex:repeat>
                </tr>

                <tr>
                    <td style="font-family: Century Gothic;">By Reaching the End of the Payment Window</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">{!row.byReachingTheEndOfThePaymentTerm}</th>
                    </apex:repeat>
                </tr>
                <tr bgcolor="#03416F">
                    <td style="font-family: Century Gothic;" colspan="{!reportData.size + 1}"><font color="white">Shared Income Payments to-date</font></td>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">ISA Payments Made ($)</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">
                            <apex:outputText value="{0,number,currency }">
                                <apex:param value="{!row.sumPayments}"/>
                            </apex:outputText>
                        </th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">ISA Payments as % of Disbursed Amount</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">
                            <apex:outputText value="{0,number,#0.00 }%" >
                                    <apex:param value="{!row.sumPmntsPercentFundingAmt}"/>
                            </apex:outputText>
                        </th>
                    </apex:repeat>
                </tr>
                <tr>
                    <td style="font-family: Century Gothic;">ISA Payments as % of Max Shared Payments</td>
                    <apex:repeat value="{!reportData}" var="row">
                        <th style="font-family: Century Gothic;">
                            <apex:outputText value="{0,number,#0.00 }%" >
                                    <apex:param value="{!row.sumPmntsPercentPayCap}"/>
                            </apex:outputText>
                        </th>
                    </apex:repeat>
                </tr>                
            </table>
            
            </apex:outputPanel>
            
      </div>
      
      
      
      <!---------------------------------------------primary Owner Selection Modal -------------------------------->
            <div style="height: 640px;display:none;" id="primaryOwnerSelector" >
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
            <header class="slds-modal__header">
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Select Primary Owner(s)</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <table>
                    <tr style="background:#d8edff;">
                        <th>
                            <center>
                                <apex:inputCheckbox onchange="checkAll(this,'primaryOwnerCheckbox');" styleclass="poMasterCheckbox"/>
                            </center>
                        </th>
                        <th>
                            <b>Primary Owners</b>
                        </th>
                    </tr>
                
                    <apex:repeat value="{!PrimaryOwners}" var="row">
                        <tr>
                            <td>
                                <center>
                                    <apex:inputCheckbox styleClass="primaryOwnerCheckbox" value="{!row.selected}" onchange="toggleFilter('{!row.primaryOwner.name}',this,'poMasterCheckbox')"/>
                                </center>
                            </td>
                            <td>
                                {!row.primaryOwner.name}
                            </td>
                        </tr>
                    </apex:repeat>
                </table>
            </div>
            <footer class="slds-modal__footer">
            <button class="slds-button slds-button_brand" onclick="toggleSelector('primaryOwnerSelector');return false;">Apply &amp; Close</button>
            </footer>
        </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------->
    
    <!---------------------------------------------fund Owner Selection Modal -------------------------------->
            <div style="height: 640px;display:none;" id="fundOwnerSelector" >
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
            <header class="slds-modal__header">
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Select Fund Owner(s)</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <table>
                    <tr style="background:#d8edff;">
                        <th>
                            <center>
                                <apex:inputCheckbox onchange="checkAll(this,'fundOwnerCheckbox');" styleclass="foMasterCheckbox"/>
                            </center>
                        </th>
                        <th>
                            <b>Fund Owners</b>
                        </th>
                    </tr>
                
                    <apex:repeat value="{!FundOwners}" var="row">
                        <tr>
                            <td>
                                <center>
                                    <apex:inputCheckbox styleClass="fundOwnerCheckbox" value="{!row.selected}" onchange="toggleFilter('{!row.fundOwner.name}',this,'foMasterCheckbox')"/>
                                </center>
                            </td>
                            <td>
                                {!row.fundOwner.name}
                            </td>
                        </tr>
                    </apex:repeat>
                </table>
            </div>
            <footer class="slds-modal__footer">
            <button class="slds-button slds-button_brand" onclick="toggleSelector('fundOwnerSelector');return false;">Apply &amp; Close</button>
            </footer>
        </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------->
    
    <!---------------------------------------------payment Stream Owner Selection Modal -------------------------------->
            <div style="height: 640px;display:none;" id="paymentStreamOwnerSelector" >
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
            <header class="slds-modal__header">
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Select Payment Stream Owner(s)</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <table>
                    <tr style="background:#d8edff;">
                        <th>
                            <center>
                                <apex:inputCheckbox onchange="checkAll(this,'paymentStreamOwnerCheckbox');" styleclass="psoMasterCheckbox"/>
                            </center>
                        </th>
                        <th>
                            <b>Payment Stream Owners</b>
                        </th>
                    </tr>
                
                    <apex:repeat value="{!paymentStreamOwners}" var="row">
                        <tr>
                            <td>
                                <center>
                                    <apex:inputCheckbox styleClass="paymentStreamOwnerCheckbox" value="{!row.selected}" onchange="toggleFilter('{!row.paymentStreamOwner.name}',this,'psoMasterCheckbox')"/>
                                </center>
                            </td>
                            <td>
                                {!row.paymentStreamOwner.name}
                            </td>
                        </tr>
                    </apex:repeat>
                </table>
            </div>
            <footer class="slds-modal__footer">
            <button class="slds-button slds-button_brand" onclick="toggleSelector('paymentStreamOwnerSelector');return false;">Apply &amp; Close</button>
            </footer>
        </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------->
      
  </apex:form>
  </div>
</apex:page>