<apex:page controller="ReportStudentEmpHistController" readOnly="true" sidebar="false" applyBodyTag="false" showHeader="false"> 
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
      
      function showSpinner(){
          document.getElementById('spinner').style.display= 'block';
      }
      
      function hideSpinner(){
          document.getElementById('spinner').style.display= 'none';
      }
      
      function tableHeader(){
        var tableOffset = $("#table-1").offset().top;
        //var tableOffset = $("#table-1").offset();
        //alert($("#table-1").offset().left);
        var $header = $("#table-1 > thead");
        //alert('@@@'+$header);
        //alert('123');
        var $fixedHeader = $("#header-fixed").append($header.clone());
        //alert('12345');
        $(window).bind("scroll", function() {
            //alert('scroll');
            var offset = $(this).scrollTop();
            
            if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
                
                var count = 0;
                $.each($header.find('tr > th'), function(ind,val){
                  var original_width = $(val).width();
                  if(count ==0){
                      original_width += 32;
                      count++;
                  }
                  else{
                      original_width += 16;
                  }
                  $($fixedHeader.find('tr > th')[ind]).attr('style','min-width:' + original_width + 'px !important;');
                  //width(original_width);
                });
                //$($fixedHeader.find('tr>th:first-child')).attr('style','padding-left: 1.5rem !important;');
                $fixedHeader.show();
            }
            else if (offset < tableOffset) {
                $fixedHeader.hide();
            }
            
            
            $('#header-fixed').css({
                'left': ($(this).scrollLeft() * -1)+27 
            });
        });
      }
      
      $(document).ready(function() {
            tableHeader();       
      });
  </script>
  <style>
      .container{
          margin:2%;
      }
      th a{
          display:block;
          width:100%;
      }
      #header-fixed { 
          position: fixed; 
          top: 0px; display:none;
          background-color:white;
          z-index:100;
      }
      .right{
          text-align:right !important;
      } 
      .left{
          text-align:left !important;
      }   
      .center{
          text-align:center !important;
      }
      .SPBGColor{
          background:#f4f6fe !important;
      }
  </style>
  <apex:slds />
  </head>
  
  <div class="container slds-scope">
  <apex:form id="frm1">
      
      <!----------------------------------------- Filters Section ------------------------------------------>
      <div class="slds-text-heading_medium">
            Students with Employment History and Income Verification
      </div>
      <div class="slds-box">
              <!--<table>
                  <col width="50%"/>
                  
                  <tr>
                      <td><b>Select School</b></td>
                  </tr>
                  <tr>
                      <td>
                          <apex:selectList value="{!selectedSchool}" size="1" styleClass="slds-input" style="width:50%;">
                              <apex:selectOptions value="{!Schools}"/>
                          </apex:selectList> 
                      </td>
                  </tr>
              </table>
              <br/><br/>-->
              <!--
              <div class="slds-box">    
              <div class="slds-text-title_caps"><b>Applied Filters</b></div><br/>
                  <span style="font-weight:bold;">Selected Program</span>&nbsp;<span>equals</span>&nbsp;<span id="schFilter" style="font-weight:bold;"></span><br/>
                  <span style="font-weight:bold;">Transaction Date</span>&nbsp;<span>equals</span>&nbsp;<span id="dtFilter" style="font-weight:bold;"></span>
              </div>
              <br/>
              -->   
              <center>
                  <apex:commandButton value="Run Report" action="{!runReport}" reRender="displayData" oncomplete="hideSpinner();tableHeader();" onclick="showSpinner();"/>&nbsp;
                  <apex:commandButton value="Export CSV" action="{!exportToCSV}"/>
              </center>
      </div>
           
      <br/>
      
      
      
      <!-----------------------------------Report Data Section ------------------------------------------->
      <div>
            <apex:outputPanel id="displayData">
                       
            <!-- SPINNER -->
                    <div id="spinner" class="slds-spinner_container" style="display:none;">
                        <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand">
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
            <!-- / SPINNER -->
            <div class="slds-text-heading_small">Total Rows: {!If(reportData == null,0,reportData.size)}</div>
            
            <table id="header-fixed" class="slds-table slds-table_bordered slds-table_cell-buffer"></table>
            <table id="table-1" class="slds-table slds-table_bordered slds-table_cell-buffer">
                <thead>
                <tr class="slds-text-heading--label">
                    <th>Account Name</th>
                    <th>Employer</th>
                    <th>Income Per Year</th>
                    <th>Expected Graduation Date</th>
                    <th>Days Delinquent</th>
                    <th>Payment Cap (Post-Certification)</th>
                    <th>Grace Period End Date</th>
                    <th>Graduation Y/N</th>
                    <th>Payment Term (Post-Certification)</th>                    
                    <th>Amount Due To Date</th>
                    <th>Next Payment Due</th>
                    <th>Paid to Date</th>
                    <th>Status</th>
                    <th>Monthly Payment Amount</th>
                    <th>Months Fully Paid</th>
                    <th>Remaining Payments</th>
                    <th>Student Email</th>
                    <th>Deferement Type</th>
                </tr>
                </thead>
                
                <apex:repeat value="{!reportData}" var="student">
                    <tr>
                       <td colspan="37" style="background:#c0d4f1;">
                          <b>Vemo Account Number:  
                              <apex:outputLink value="/{!student.studentID}" target="_blank">
                                    {!student.vemoAccountNumber}
                              </apex:outputLink>
                          </b>
                       </td> 
                    </tr>
                    <apex:repeat value="{!student.agreements}" var="agreWrapper"> 
                        <tr>
                            <td>{!agreWrapper.accountName}</td>
                            <td>{!agreWrapper.employer}</td>
                            <td>{!agreWrapper.incomePerYear}</td>
                            <td class="right">
                                <apex:outputText value="{0,date,M/d/yyyy HH:mm}">
                                    <apex:param value="{!agreWrapper.expectedGraduationDate}" /> 
                                </apex:outputText>
                            </td>
                            <td>{!agreWrapper.daysDelinquent}</td>
                            <td>{!agreWrapper.paymentCap}</td>
                            <td>
                                <apex:outputText value="{0,date,M/d/yyyy HH:mm}">                                    
                                    <apex:param value="{!agreWrapper.graceEndDate}" /> 
                                </apex:outputText>
                            </td>
                            <td>{!agreWrapper.graduationY_N}</td>
                            <td>{!agreWrapper.paymentTerm}</td>
                            <td>{!agreWrapper.amountDueToDate}</td>
                            <td>{!agreWrapper.nextPaymentDue}</td>
                            <td>{!agreWrapper.paidToDate}</td>
                            <td>{!agreWrapper.status}</td>
                            <td>{!agreWrapper.monthlyPayment}</td>
                            <td>{!agreWrapper.monthsPaid}</td>
                            <td>{!agreWrapper.remainingPayments}</td>
                            <td>{!agreWrapper.studentEmail}</td>
                            <td>{!agreWrapper.deferementType}</td>    
                        </tr>
                    </apex:repeat>
                </apex:repeat>
            </table>
            </apex:outputPanel>
      </div>
  </apex:form>
  </div>
</apex:page>