<apex:page controller="ReportClearinghouseController" readOnly="true" sidebar="false" applyBodyTag="false" showHeader="false" docType="html-5.0"> 
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
      
      function showSpinner(){
          document.getElementById('spinner').style.display= 'block';
      }
      
      function hideSpinner(){
          document.getElementById('spinner').style.display= 'none';
      }
      
      function tableHeader(){
        var tableOffset = $("#table-1").offset().top;
        //var tableOffset = $("#table-1").offset();
        //alert($("#table-1").offset().left);
        var $header = $("#table-1 > thead");
        //alert('@@@'+$header);
        //alert('123');
        var $fixedHeader = $("#header-fixed").append($header.clone());
        //alert('12345');
        $(window).bind("scroll", function() {
            //alert('scroll');
            var offset = $(this).scrollTop();
            
            if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
                
                var count = 0;
                $.each($header.find('tr > th'), function(ind,val){
                  var original_width = $(val).width();
                  if(count ==0){
                      original_width += 32;
                      count++;
                  }
                  else{
                      original_width += 16;
                  }
                  $($fixedHeader.find('tr > th')[ind]).attr('style','min-width:' + original_width + 'px !important;');
                  //width(original_width);
                });
                //$($fixedHeader.find('tr>th:first-child')).attr('style','padding-left: 1.5rem !important;');
                $fixedHeader.show();
            }
            else if (offset < tableOffset) {
                $fixedHeader.hide();
            }
            
            
            $('#header-fixed').css({
                'left': ($(this).scrollLeft() * -1)+27 
            });
        });
      }
      
      $(document).ready(function() {
            tableHeader();       
      });
  </script>
  <style>
      .container{
          margin:2%;
      }
      th a{
          display:block;
          width:100%;
      }
      #header-fixed { 
          position: fixed; 
          top: 0px; display:none;
          background-color:white;
          z-index:100;
      }
      .right{
          text-align:right !important;
      } 
      .left{
          text-align:left !important;
      }   
      .center{
          text-align:center !important;
      }
      .SPBGColor{
          background:#f4f6fe !important;
      }
  </style>
  <apex:slds />
  </head>
  
  <div class="container slds-scope">
  <apex:form id="frm1">
      <input type="hidden" name="currentvfpage" value="{!$CurrentPage.Name}"/>
      
      <!----------------------------------------- Filters Section ------------------------------------------>
      <div class="slds-text-heading_medium">
            Clearinghouse Enrollment with Student Program Data
      </div>
      <div class="slds-box">
              <table>
                  <col width="50%"/>
                  
                  <tr>
                      <td><b>Filter with Date</b></td>
                  </tr>
                  <tr>
                      <td>
                          <b>Clearinghouse record created date:&nbsp;</b> <apex:inputField styleClass="slds-input" style="width:25%;" value="{!clrHouseCreatedDate.ClearinghouseFileReceivedDate__c}"/> 
                      </td>
                      <td>
                          <b>File Received Date From:&nbsp;</b> <apex:inputField styleClass="slds-input" style="width:25%;" value="{!clrHouseFileReceivedDate.ClearinghouseFileReceivedDate__c}"/> 
                      </td>
                  </tr>
                  <tr>
                      <td><br/><b style="vertical-align: 38px;">Last Modified By:</b>&nbsp;
                          <apex:selectList value="{!selectedOperator}" size="1" styleClass="slds-input" style="width:25%; vertical-align: 38px;">
                              <apex:selectOptions value="{!Operators}"/>
                          </apex:selectList>
                          &nbsp;
                          <apex:selectList value="{!selectedUsers}" size="5" styleClass="slds-input" style="width:50%;" multiselect="true">
                              <apex:selectOptions value="{!Users}"/>
                          </apex:selectList> 
                      </td>
                  </tr>

              </table>
              <br/><br/>
              <!--
              <div class="slds-box">    
              <div class="slds-text-title_caps"><b>Applied Filters</b></div><br/>
                  <span style="font-weight:bold;">Selected Program</span>&nbsp;<span>equals</span>&nbsp;<span id="schFilter" style="font-weight:bold;"></span><br/>
                  <span style="font-weight:bold;">Transaction Date</span>&nbsp;<span>equals</span>&nbsp;<span id="dtFilter" style="font-weight:bold;"></span>
              </div>
              <br/>
              -->   
              <center>
                  <apex:commandButton value="Run Report" action="{!runReport}" reRender="displayData" oncomplete="hideSpinner();tableHeader();" onclick="showSpinner();"/>&nbsp;
                  <apex:commandButton value="Export Excel" action="{!export}" rendered="{!if(mode='copy',true,false)}"/>
              </center>
      </div>
           
      <br/>
      
      
      
      <!-----------------------------------Report Data Section ------------------------------------------->
      <div>
            <apex:outputPanel id="displayData">
                       
            <!-- SPINNER -->
                    <div id="spinner" class="slds-spinner_container" style="display:none;">
                        <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand">
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
            <!-- / SPINNER -->
            <div class="slds-text-heading_small">Total Rows: {!If(reportData == null,0,reportData.size)}</div>
            
            <table id="header-fixed" class="slds-table slds-table_bordered slds-table_cell-buffer"></table>
            <table id="table-1" class="slds-table slds-table_bordered slds-table_cell-buffer">
                <thead>
                <tr class="slds-text-heading--label">
                    <th>&nbsp;</th>
                    <th>CH Rec#</th>
                    <th>College Name</th>
                    <th>College Code</th>
                    <th>Enrollment status</th>
                    <th>Enrollment begin</th>
                    <th>Enrollment end</th>
                    <th>Status Start Date</th>
                    <th>Graduated</th>
                    <th>Graduation Date</th>
                    <th>Expected Graduation Date</th>
                    <th>Student Program #</th>
                    <th>School Name</th>
                    <th>Status</th>
                    <th>Expected Graduation Date</th>
                    <th>Last Date of Attendance</th>
                    <th>Servicing</th>
                    <th>Servicing Start Date</th>
                </tr>
                </thead>
                
                <apex:repeat value="{!reportData}" var="student">
                    <tr>
                       <td colspan="17" style="background:#c0d4f1;">
                          <b>Vemo Account Number: {!student.vemoAccountNumber} - 
                              <apex:outputLink value="/{!student.studentId}" target="_blank">
                                    {!student.studentName}
                              </apex:outputLink>
                          </b>
                          <!--<br/>
                          <b>School Name: 
                              <apex:outputLink value="/{!student.schoolId}" target="_blank">
                                    {!student.schoolName}
                              </apex:outputLink>
                          </b>-->
                       </td> 
                    </tr>
                    <apex:repeat value="{!student.rowData}" var="row"> 
                        <tr>
                            <td><apex:inputCheckbox rendered="{!if(row.CHRecNumber != null,true,false)}"/></td>
                            <td>
                                <apex:outputLink value="/{!row.CHId}" target="_blank">
                                    {!row.CHRecNumber}
                                </apex:outputLink>
                            </td>
                            <td>{!row.collegeName}</td>
                            <td>{!row.collegeCode}</td>
                            <td class="center">{!row.enrollmentStatus}</td>
                            <td class="right">
                                <apex:outputText value="{0,date,M/d/yyyy}">
                                    <apex:param value="{!row.enrollmentBegin}" /> 
                                </apex:outputText>
                            </td>
                            <td class="right">
                                <apex:outputText value="{0,date,M/d/yyyy}">
                                    <apex:param value="{!row.statusStartDate}" /> 
                                </apex:outputText>
                            </td>
                            <td class="right">
                                <apex:outputText value="{0,date,M/d/yyyy}">
                                    <apex:param value="{!row.enrollmentEnd}" /> 
                                </apex:outputText>
                            </td>
                            <td class="center">{!row.graduated}</td>
                            <td class="right">
                                <apex:outputText value="{0,date,M/d/yyyy}">
                                    <apex:param value="{!row.graduationDate}" /> 
                                </apex:outputText>
                            </td>
                            <td class="right">
                                <apex:outputText value="{0,date,M/d/yyyy}">
                                    <apex:param value="{!row.ChExpectedGradDate}" /> 
                                </apex:outputText>
                            </td>
                            
                            <td class="{!IF(ISBLANK(row.SPNumber),'','SPBGColor')}">
                                <apex:outputLink value="/{!row.SPId}" target="_blank">
                                    {!row.SPNumber}
                                </apex:outputLink>
                            </td>
                            <td class="{!IF(ISBLANK(row.SPNumber),'','SPBGColor')}">{!row.SpSchoolName}</td>
                            <td class="{!IF(ISBLANK(row.SPNumber),'','SPBGColor')}">{!row.status}</td>
                            <td class="right {!IF(ISBLANK(row.SPNumber),'','SPBGColor')}">
                                <apex:outputText value="{0,date,M/d/yyyy}">
                                    <apex:param value="{!row.expectedGradDate}" /> 
                                </apex:outputText>
                            </td>
                            <td class="right {!IF(ISBLANK(row.SPNumber),'','SPBGColor')}" >
                                <apex:outputText value="{0,date,M/d/yyyy}">
                                    <apex:param value="{!row.lastDateOfAttendance}" /> 
                                </apex:outputText>
                            </td>
                            <td class="center {!IF(ISBLANK(row.SPNumber),'','SPBGColor')}">
                                <apex:outputPanel rendered="{!IF(row.servicing == true,true,false)}">
                                    <img src="/img/checkbox_checked.gif" />
                                </apex:outputPanel>
                                <!--
                                <apex:outputPanel rendered="{!IF(row.servicing == false,true,false)}">
                                    <img src="/img/checkbox_unchecked.gif" />
                                </apex:outputPanel>
                                -->
                            </td>
                            <td class="right {!IF(ISBLANK(row.SPNumber),'','SPBGColor')}">
                                <apex:outputText value="{0,date,M/d/yyyy}">
                                    <apex:param value="{!row.servicingStartDate}" /> 
                                </apex:outputText>
                            </td>
                        </tr>
                    </apex:repeat>
                </apex:repeat>
                
                
            </table>
            </apex:outputPanel>            
      </div>      
  </apex:form>
  </div>
</apex:page>