<apex:page controller="ReportFlowpointController" readOnly="true" sidebar="false" applyBodyTag="false" showHeader="false"> 
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
      
      function showSpinner(){
          document.getElementById('spinner').style.display= 'block';
      }
      
      function hideSpinner(){
          document.getElementById('spinner').style.display= 'none';
      }
      
      function tableHeader(){
        var tableOffset = $("#table-1").offset().top;
        //var tableOffset = $("#table-1").offset();
        //alert($("#table-1").offset().left);
        var $header = $("#table-1 > thead");
        //alert('@@@'+$header);
        //alert('123');
        var $fixedHeader = $("#header-fixed").append($header.clone());
        //alert('12345');
        $(window).bind("scroll", function() {
            //alert('scroll');
            var offset = $(this).scrollTop();
            
            if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
                
                var count = 0;
                $.each($header.find('tr > th'), function(ind,val){
                  var original_width = $(val).width();
                  if(count ==0){
                      original_width += 32;
                      count++;
                  }
                  else{
                      original_width += 16;
                  }
                  $($fixedHeader.find('tr > th')[ind]).attr('style','min-width:' + original_width + 'px !important;');
                  //width(original_width);
                });
                //$($fixedHeader.find('tr>th:first-child')).attr('style','padding-left: 1.5rem !important;');
                $fixedHeader.show();
            }
            else if (offset < tableOffset) {
                $fixedHeader.hide();
            }
            
            
            $('#header-fixed').css({
                'left': ($(this).scrollLeft() * -1)+27 
            });
        });
      }
      
      $(document).ready(function() {
            tableHeader();       
      });
  </script>
  <style>
      .container{
          margin:2%;
      }
      th a{
          display:block;
          width:100%;
      }
      #header-fixed { 
          position: fixed; 
          top: 0px; display:none;
          background-color:white;
          z-index:100;
      }
      .right{
          text-align:right !important;
      } 
      .left{
          text-align:left !important;
      }   
      .center{
          text-align:center !important;
      }
      .SPBGColor{
          background:#f4f6fe !important;
      }
  </style>
  <apex:slds />
  </head>
  
  <div class="container slds-scope">
  <apex:form id="frm1">
      
      <!----------------------------------------- Filters Section ------------------------------------------>
      <div class="slds-text-heading_medium">
            Investor Report: Student's Employment and Income Report 
      </div>
      <div class="slds-box">
              <table>
                  <col width="50%"/>
                  
                  <tr>
                      <td><b>Select Investor</b></td>
                  </tr>
                  <tr>
                      <td>
                          <apex:selectList value="{!selectedPrimaryOwner}" size="1" styleClass="slds-input" style="width:50%;">
                              <apex:selectOptions value="{!PrimaryOwners}"/>
                          </apex:selectList> 
                      </td>
                  </tr>
              </table>
              <br/><br/>
                
              <center>
                  <apex:commandButton value="Run Report" action="{!runReport}" reRender="displayData" oncomplete="hideSpinner();tableHeader();" onclick="showSpinner();"/>&nbsp;
                  <apex:commandButton value="Export" action="{!export}"/>
              </center>
      </div>
           
      <br/>
      
      
      
      <!-----------------------------------Report Data Section ------------------------------------------->
      <div>
            <apex:outputPanel id="displayData">
                       
            <!-- SPINNER -->
                    <div id="spinner" class="slds-spinner_container" style="display:none;">
                        <div role="status" class="slds-spinner slds-spinner--large slds-spinner--brand">
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
            <!-- / SPINNER -->
            <!--<div class="slds-text-heading_small">Total Rows: {!If(reportData == null,0,reportData.size)}</div>-->
            <div class="slds-text-heading_medium">
                PAYMENT
            </div>
            <table id="header-fixed" class="slds-table slds-table_bordered slds-table_cell-buffer"></table>
            <table id="table-1" class="slds-table slds-table_bordered slds-table_cell-buffer">
                
                <tr class="slds-text-heading--label" style="background-color: rgb(250, 250, 249);">
                    <th><b>Student Name</b></th>
                    <th><b>Employer Name</b></th>
                    <th><b>Employment Type</b></th>
                    <th><b>Employment Start Date</b></th>
                    <th><b>Employment End Date</b></th>
                    <th><b>Employment Category</b></th>
                    <th><b>Income Per Month</b></th>
                    <th><b>Begin Date</b></th>
                    <th><b>End Date</b></th>                    
                    <th><b>Date Verified</b></th>                    
                </tr>
                
                
                <apex:repeat value="{!reportPaymentData}" var="student">
                    <tr>
                       <td colspan="37" style="background:#c0d4f1;">
                          <b>Vemo Account Number:  
                              <apex:outputLink value="/{!student.studentID}" target="_blank">
                                    {!student.vemoAccountNumber}
                              </apex:outputLink>
                          </b>
                       </td> 
                    </tr>                    
                    <tr>
                        <td>{!student.studentName}</td>
                        <td>{!student.empHist.Employer__c}</td>
                        <td>{!student.empHist.Type__c}</td>
                        <td class="right">
                            <apex:outputText value="{0,date,M/d/yyyy}">
                                <apex:param value="{!student.empHist.EmploymentStartDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td class="right">
                            <apex:outputText value="{0,date,M/d/yyyy}">
                                <apex:param value="{!student.empHist.EmploymentEndDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>{!student.empHist.Category__c}</td>
                        <td>{!student.inv.IncomePerMonth__c}</td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.inv.BeginDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.inv.EndDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.inv.DateVerified__c}" /> 
                            </apex:outputText>
                        </td>                            
                    </tr>                    
                </apex:repeat>
            </table>
            <br/><br/>
            <div class="slds-text-heading_medium">
                DEFERMENT
            </div>
            <table id="header-fixed" class="slds-table slds-table_bordered slds-table_cell-buffer"></table>
            <table id="table-1" class="slds-table slds-table_bordered slds-table_cell-buffer">
                <thead>
                <tr class="slds-text-heading--label">
                    <th>Student Name</th>                    
                    <th>Employer Name</th>
                    <th>Employment Type</th>
                    <th>Employment Start Date</th>
                    <th>Employment End Date</th>
                    <th>Employment Category</th>
                    <th>Income Per Month</th>
                    <th>Begin Date</th>
                    <th>End Date</th>                    
                    <th>Date Verified</th>
                    <th>Deferment Type</th>
                    <th>Deferment Begin Date</th>
                    <th>Deferment End Date</th>
                    <th>Monthly Income</th>
                    <th>Date Verified</th>                    
                </tr>
                </thead>
                
                <apex:repeat value="{!reportDefermentData}" var="student">
                    <tr>
                       <td colspan="37" style="background:#c0d4f1;">
                          <b>Vemo Account Number:  
                              <apex:outputLink value="/{!student.studentID}" target="_blank">
                                    {!student.vemoAccountNumber}
                              </apex:outputLink>
                          </b>
                       </td> 
                    </tr>                    
                    <tr>
                        <td>{!student.studentName}</td>
                        <td>{!student.empHist.Employer__c}</td>
                        <td>{!student.empHist.Type__c}</td>                        
                        <td class="right">
                            <apex:outputText value="{0,date,M/d/yyyy}">
                                <apex:param value="{!student.empHist.EmploymentStartDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td class="right">
                            <apex:outputText value="{0,date,M/d/yyyy}">
                                <apex:param value="{!student.empHist.EmploymentEndDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>{!student.empHist.Category__c}</td>
                        <td>{!student.inv.IncomePerMonth__c}</td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.inv.BeginDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.inv.EndDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.inv.DateVerified__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>{!student.def.Type__c}</td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.def.BeginDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.def.EndDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>{!student.def.MonthlyIncome__c}</td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.def.DateVerified__c}" /> 
                            </apex:outputText>
                        </td>                          
                    </tr>                    
                </apex:repeat>
            </table>
            </apex:outputPanel>
      </div>
  </apex:form>
  </div>
</apex:page>