<apex:page showHeader="false" sidebar="false" standardStylesheets="false" cache="true" action="{!runReport}" contentType="application/vnd.ms-excel#InvestorReport.xls" controller="ReportFlowpointController">
    <apex:form >
        <div class="slds-text-heading_medium">
            PAYMENT
        </div>
        <table id="table-1" class="slds-table slds-table_bordered slds-table_cell-buffer">
                
                <tr class="slds-text-heading--label" style="background-color: rgb(250, 250, 249);">
                    <th><b>Student Name</b></th>
                    <th><b>Employer Name</b></th>
                    <th><b>Employment Type</b></th>
                    <th><b>Employment Start Date</b></th>
                    <th><b>Employment End Date</b></th>
                    <th><b>Employment Category</b></th>
                    <th><b>Income Per Month</b></th>
                    <th><b>Begin Date</b></th>
                    <th><b>End Date</b></th>                    
                    <th><b>Date Verified</b></th>                    
                </tr>
                
                
                <apex:repeat value="{!reportPaymentData}" var="student">
                    <tr>
                       <td colspan="37" style="background:#c0d4f1;">
                          <b>Vemo Account Number:                              
                            {!student.vemoAccountNumber}                              
                          </b>
                       </td> 
                    </tr>                    
                    <tr>
                        <td>{!student.studentName}</td>
                        <td>{!student.empHist.Employer__c}</td>
                        <td>{!student.empHist.Type__c}</td>
                        <td class="right">
                            <apex:outputText value="{0,date,M/d/yyyy}">
                                <apex:param value="{!student.empHist.EmploymentStartDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td class="right">
                            <apex:outputText value="{0,date,M/d/yyyy}">
                                <apex:param value="{!student.empHist.EmploymentEndDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>{!student.empHist.Category__c}</td>
                        <td>{!student.inv.IncomePerMonth__c}</td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.inv.BeginDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.inv.EndDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.inv.DateVerified__c}" /> 
                            </apex:outputText>
                        </td>                            
                    </tr>                    
                </apex:repeat>
            </table>
            <br/><br/>
            <div class="slds-text-heading_medium">
                DEFERMENT
            </div>            
            <table id="table-1" class="slds-table slds-table_bordered slds-table_cell-buffer">
                <thead>
                <tr class="slds-text-heading--label">
                    <th>Student Name</th>                    
                    <th>Employer Name</th>
                    <th>Employment Type</th>
                    <th>Employment Start Date</th>
                    <th>Employment End Date</th>
                    <th>Employment Category</th>
                    <th>Income Per Month</th>
                    <th>Begin Date</th>
                    <th>End Date</th>                    
                    <th>Date Verified</th>
                    <th>Deferment Type</th>
                    <th>Deferment Begin Date</th>
                    <th>Deferment End Date</th>
                    <th>Monthly Income</th>
                    <th>Date Verified</th>                    
                </tr>
                </thead>
                
                <apex:repeat value="{!reportDefermentData}" var="student">
                    <tr>
                       <td colspan="37" style="background:#c0d4f1;">
                          <b>Vemo Account Number:                              
                            {!student.vemoAccountNumber}                              
                          </b>
                       </td> 
                    </tr>                    
                    <tr>
                        <td>{!student.studentName}</td>
                        <td>{!student.empHist.Employer__c}</td>
                        <td>{!student.empHist.Type__c}</td>                        
                        <td class="right">
                            <apex:outputText value="{0,date,M/d/yyyy}">
                                <apex:param value="{!student.empHist.EmploymentStartDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td class="right">
                            <apex:outputText value="{0,date,M/d/yyyy}">
                                <apex:param value="{!student.empHist.EmploymentEndDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>{!student.empHist.Category__c}</td>
                        <td>{!student.inv.IncomePerMonth__c}</td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.inv.BeginDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.inv.EndDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.inv.DateVerified__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>{!student.def.Type__c}</td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.def.BeginDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.def.EndDate__c}" /> 
                            </apex:outputText>
                        </td>
                        <td>{!student.def.MonthlyIncome__c}</td>
                        <td>
                            <apex:outputText value="{0,date,M/d/yyyy}">                                    
                                <apex:param value="{!student.def.DateVerified__c}" /> 
                            </apex:outputText>
                        </td>                          
                    </tr>                    
                </apex:repeat>
            </table>
    </apex:form>
</apex:page>