.m__agreement-info-block {
  box-shadow: 0 1px 1px rgba(218,224,230,.3);
  h1 {
    display: block;
    margin-bottom: 0.9em;
    margin-top: 0.2em;
    }

  h2 {
    display: block;
  }
  
  h3 {
    display: block;
    margin: 0 0 0.6em;
  }

  h4 {
    color: $raven_grey;
    font-weight: 600;
    font-size: small;
  }

  p {
    display: block;
    margin: 0 0 .9em;
    font-size: 1.2em;
    font-weight: 500;
  }

  @include breakpoint($tablet) {
    box-shadow: none;
    h4 {
      color: #6d7378;
      font-weight: 400;
      font-size: 0.7em;
    }
  
    p {
      display: block;
      margin: 0 0 1em;
      font-size: 1.2em;
      font-weight: 500;
    }
  }
}
