@import './globals.scss';

html, body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @include font--default;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

strong,
b {
  font-weight: bolder;
}

html, body {
  background-color: $default_white;
}

body {
  color: $text--default;
  margin: 0;
  font-size: 0.875rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

@media print {
  body {
    background-color: #fff;
  }
}

@mixin resetSpacing {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font--h1;
  @include resetSpacing;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    right: 0;
  }
}

.noSelect {
  @include noSelect;
}

.--uppercase {
  @include --uppercase();
}