.t__agreements-page {
  background-color: rgba($default_white, 1);
  article.agreements-page {
    &--submenu {
      display: flex;
      margin: 0;
      padding: 1.2em 0;
      overflow-x: scroll;
    }

    &--filters {
      display: flex;
      margin: 0;

      span {
        position: relative;
        padding: 0.6em 2.4em 0.6em 1.2em;
        border-radius: 20px;
        text-transform: uppercase;
        color: rgba($raven_grey, 1);
        background-color: rgba($mystic_grey, 0.3);
        border: 1px solid rgba($raven_grey, 0.6);
        transition: all 0.3s;
        white-space: nowrap;
        cursor: pointer;

        &::after {
          content: "\d7";
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          font-size: 1.8em;
          color: rgba($raven_grey, 1);
        }
      }
    }
  }



  @include breakpoint($tablet) {
    article.agreements-page {
      &--submenu {
      }

      &--table {
        padding: 0 0 0 0.6em;
      }
    }
 
  }

  @include breakpoint($tablet_landscape) {
    article.agreements-page {
      &--submenu {
      }

      &--table {
      }
    }
    
  }
}
