.t__dashboard-page {
  background-color: rgba($default_white, 1);

  aside p h1.main{
    vertical-align: middle;
  }
  .dashboard-applications {
    .o__dashboard-layout {
      h2.main {
        padding-left: 12px;
        align-self: center;
      }
    }
  }

  .dashboard-agreements {
    .o__dashboard-layout {
      h2.main {
        padding-left: 12px;
        align-self: center;
      }
       
      .cancelled-block {
        left: 10px;
      }

      .cancelled-block .svg-arrow-right{
        vertical-align: middle;
      }
    }
  }

  @include breakpoint($tablet) {
  }
  // .dashboard-page {
  //   display: flex;
  //   align-items: center;
  //   margin: 0 0.9em;

  //   &--submenu {
  //     h3.main {
  //       text-transform: uppercase;
  //       color: rgba($dark_yellow, 1);
  //     }

  //     svg.svg-applications-fill {
  //       margin: 0 0.6em 0 0;
  //       fill: rgba($dark_yellow, 1);
  //     }
  //   }

  //   &--blocks {
  //     flex-wrap: wrap;
  //     flex-basis: 100%;
  //   }

  //   &--cancelled {
  //     align-items: center;

  //     svg.svg-arrow-up {
  //       transform: rotate(90deg);
  //     }
  //   }
  // }

  // @include breakpoint($tablet) {
  //   .dashboard-page {
  //     &--blocks {
  //       flex-wrap: nowrap;
  //       align-items: unset;
  //     }

  //     &--cancelled {
  //       justify-content: flex-end;
  //     }
  //   }
  // }
}
