.t__header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  article.header-main-title {
    display: flex;
    align-items: center;
    
    h1, h3 {
      text-transform: capitalize;
    }

    svg.svg-arrow-up {
      transform: rotate(-90deg);
    }

    a {
      display: flex;
      align-items: center;
      color: rgba($raven_grey, 1);
      fill: rgba($raven_grey, 1);
    }
  }

  article.header-main-desktop {
    display: none;
    justify-content: flex-end;
    flex: 1 0 auto;
    max-width: 80%;
    padding: 0 1.5em 0 0;
  }

  article.header-main-mobile {
    display: flex;
    position: absolute;
    align-items: center;
    right: 0;
    padding: 0em 1em 0em 0em;
    justify-content: flex-end;
    
    svg.svg-notifications-line,
    svg.svg-search, svg.svg-notifications-fill {
      margin: 0 1.2em 0 0;
    }

  }

  @include breakpoint($tablet_landscape) {
    article.header-main-desktop {
      display: flex;
      justify-content: flex-end;
      flex: 1 0 auto;
      max-width: 80%;
    }

    article.header-main-mobile {
      visibility: hidden;
      position: absolute;
    }
  }

  
}
