.t__notifications-page {
  padding: 0em 1em 0em 0em;
  article.notifications-page {
    
    &--submenu {
     
      margin: 0;
      padding: 1.2em;
    }
    &--settings{
      float: right;
      color:rgba($dark_grey, 1);
    }

    &--table {
      margin: 0;
      width:62.5em;
      svg.svg-delete {
        display: block;
        position: relative;
        margin-top:-4.5em;
        left:97%;
        right:0px;
        padding: 1em;
        fill: rgba($raven_grey, 1);
        cursor: pointer;
      }
    }
  }

  @include breakpoint($tablet_landscape) {
    .notifications-page {
      &--submenu {
        padding: 1.2em 0;
        box-shadow: none;
        &--settings{
          float: right;
          color:rgba($dark_grey, 1);
          font-size: 0.9em;
          svg.svg-settings-line {
            right: 0;
            fill: rgba($raven_grey, 1);
            margin-left: auto;
            margin-right: 0.3em;
            top: 0.3em;
            position: relative;
          }
        }
        &--delete-all-notifications{
          
          color: #6D7378;
          font-size: 0.8125rem;
          font-weight: 600;
          letter-spacing: 1.5px;
          line-height: 100%;
          border: 1px solid rgba(64,99,128,0.2);
          border-radius: 20px;
          background-color: #F5F8FA;
          word-break: break-all;
          padding:0.1em 1.5em 0.8em;
          float:left;
          cursor: pointer;

          svg.svg-delete{
            position: relative;
            fill: #6D7378;
            top: 9px;
          }
          &:hover,
          &:focus {
            color:white;
            background-color:#0092ff;
            border: 1px solid #0092ff;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
            svg.svg-delete{
              fill: white;
            }
          }
          
        }
      }
     

      &--table {
        padding: 0 0 0 0.6em;
        svg.svg-delete {
          top: 56%;
         
        }
    
      }
    }
  }
  @include breakpoint($tablet) {
    &--table {
      padding: 0 0 0 0.6em;
      svg.svg-delete {
        top: 56%;
        right: 85px;
      }
  
    }
    
  }

}
