.pagination_section {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    justify-content: space-between;
    .round_button {
        box-sizing: border-box;	
        height: 40.4px;	
        width: 40.4px;	
        border: 1px solid rgba(64,99,128,0.2);	
        background-color: #F5F8FA;
        display: block;
        border-radius: 50%;
    }
    
    .rectangle_button{
        height: 30px;
        width: 30px;
        border: 1px solid rgba(64,99,128,.2);
        border-radius: 4px;
        background-color: #f5f8fa;
        display: block;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        /* margin-top: 5px; */
        margin: 5px 0px 0px 0px;
        font-weight: 600;
    }
    .right_section{
        box-sizing: border-box;
        display: flex;
        margin: 10px 0 0 15px;
        justify-content: center;
        span {
            height: 17px;
            //width: 40px;
            color: #001c33;
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 17px;
            text-align: center;
            /* margin-top: 11px; */
            display: block;
            margin: 11px 18px 0px;
            word-spacing: 7px;
            white-space: nowrap;
        }
        
    }

    .direct_page_div {	
        height: 34px;
        width: 87px;
        display: -webkit-box;
        border: 2px solid #0092ff;
        border-radius: 4px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff;
        -webkit-box-shadow: inset 0 0 7px 0 rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.15);
        box-shadow: inset 0 0 7px 0 rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.15);
        margin-right: 20px;
        margin-top: 3px;
    
    }
    .direct_page_input{
        width: 46px;
        border: 0px solid #0092ff;
        border-radius: 0px;
        text-align: center;
    }
    .go {	
        height: 32px;
        width: 37px;
        border-radius: 0px;
        background-color: #0092ff;
        display: block;
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;

    }
    svg.svg-arrow-right2 {
        transform: translate(8px, 7px) rotate(90deg);
    }
    svg.svg-arrow-left2 {
        transform: translate(8px, 9px) rotate(270deg);
    }
    
    .left_section {
        margin-bottom: 20px;
        text-align: center;
        p{
            height: 17px;	
            width: 142px;	
            color: #6D7378;	
            font-size: 0.875rem;	
            font-weight: 500;	
            line-height: 17px;
        }
    }
    @include breakpoint($tablet) {
        display: flex;
        .right_section{
           margin-right: 5px;
           justify-content: inherit;
        }
        .left_section {
            margin: 20px 0 0 15px;
            text-align: inherit;
        }
    }
}

