.t__settings-page {
  div.notifications-page {
    box-shadow: 0 0 3px 0 rgba(92, 125, 153, 0.5);
    border-radius: 10px;
    margin: 10px 0px 0px -7px;
    &--details {
      display: block;
      margin: 0;
      padding: 2em 0em 2em 0.3em;
      box-shadow: 0px 1px 0px rgb(218, 224, 230);
    }
    &--notifications {
      flex-basis: 95%;
      table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
      }
      th,
      td {
        text-align: left;
        padding: 8px;
        font-weight: 600;
        color: #001c33;
        white-space: unset;
        word-wrap: break-word;
        padding: 12px 7px 10px 31px;
      }
      th {
        line-height: 1em;
      }
      td {
        line-height: 1.25em;
      }

      tr:nth-child(odd) {
        background-color: rgb(246, 247, 252);
      }
      #svg-help {
        margin: 0px 0px -6px 5px;
      }
      .titles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        white-space: unset;
        word-break: break-word;
      }
    }
  }
  .switchDiv {
    flex-basis: 95%;
    display: flex;
    padding: 3em 0em 0em 0em;
  }
  @include breakpoint($tablet) {
    div.notifications-page {
      &--details {
        padding: 2em 0em 2em 0.3em;
      }
      &--notifications {
        flex-basis: 100%;
      }
    }
    .switchDiv {
      flex-basis: 60%;
    }
  }
}
