.t__program-page {
  article.program-page {
    &--submenu {
      display: block; 
      margin: 0;
      padding: 1.2em;
      box-shadow: 0px 1px 1px rgba($mystic_grey, 0.3);
      .progress-bar {
        position: relative;
        margin: 1.2em 0 0;
        height: 14px;
        width: 100%;
        border-radius: 50px;
        background-color: rgba($mystic_grey, 1);
      }
      .filler {
        background: rgba($horizon_blue, 1);
        height: 100%;
        border-radius: inherit;
        transition: width .2s ease-in;
      }
    }

    &--table {
      margin: 0;
    }
  }

  @include breakpoint($tablet_landscape) {
    article.program-page {
      &--submenu {
        padding: 1.2em 0;
        box-shadow: none;
      }

      &--table {
        padding: 0 0 0 0.6em;
      }
    }
  }

  @include breakpoint($tablet){
    article.program-page {
      &--submenu {
         display: flex;
      }
    }
  }
}
