
.t__settings-page{
  article.notifications-page {
    h1{
      color: #001C33;	
      font-size: 20px;	
      font-weight: bold;	
      letter-spacing: -0.42px;	
      line-height: 27px;
    }
    &--details {
      display: block; 
      margin: 0;
      padding: 2em 0em 2em 0.3em;
      box-shadow: 0px 1px 0px rgb(218, 224, 230);
      h3 {
        color:#001C33
      }

     
      h6{
        color: #6D7378;	
        font-size: 12px;	
        font-weight: 500;	
        line-height: 15px;
        margin-top: 2.3em;
        display: flex;
      }
      h4{
        //display: block;
        margin: 0 0 1em;
        //font-size: 1.2em;
        //font-weight: 500;
        color: #001C33;	
        font-size: 18px;	
        font-weight: 500;	
        line-height: 22px;
      }
     
    }
    &--notifications {
      padding:0em 0em 2em 0em;
      flex-basis: 95%;
      .rows{
      li { 
        background: rgba($catskill_white,1); 
        width:100%;
       padding: .8em 0em 0.5em 1.3em;
       margin:0em;
      }
      li:nth-child(odd) { 
        background:rgba($default_white,1); 
        width:100%;
        padding: .8em 0em 0.5em 1.3em;
        margin: 0em;
      }
     } 
      p{
        color:rgba($raven_grey,1);
      }
      .titles {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
        margin-bottom: 0.8em;
        white-space: nowrap;
        h2.secondary{
          //color:rgba($raven_grey,1);
          color: #6D7378;
          font-size: 13px;
          font-weight: bold;
          letter-spacing: 1.5px;
          line-height: 16px;
      
        }
        h2.secondary{
          color: #6D7378;	
          font-size: 13px;	
          font-weight: bold;	
          letter-spacing: 1.5px;	
          line-height: 16px;
        }
        span{
          margin-left: 3em;
        }
        svg.svg-email-fill{
          //width:-webkit-fill-available;
          position: absolute;
          margin-left: -1.3em;
          //margin-top: 0em;
         // height:24em;
        }
       
        svg.svg-notifications-fill{
            margin-top: 0em;
            position: absolute;
            margin-left: -1.4em;
        }
      }
      .statuses {
        display: flex;
        justify-content: space-between;
        margin: 0 1.5em;
        p {
          color: #001C33;
          /* font-family: "Proxima Nova"; */
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
        }

        .checkboxes {
          display: flex;
          justify-content: space-between;

          //checkboxes distance
          .emailLabel{
            margin-right: 3em;
            margin-left: 5em;
          }
          
          input[type="checkbox" i] {
            /*-webkit-appearance: checkbox;
            box-sizing: border-box;
            visibility: unset;
            margin:1em;*/
            width: 0;
          }
          /* When the checkbox is checked, add a blue background */
          input[type="checkbox" i]:checked ~ .checkmark {
               background-color: #2196F3;
               border:2px solid #2196F3;
          }

          /* Show the checkmark when checked */
          input[type="checkbox" i]:checked ~ .checkmark:after {
              display: block;
          }
          /* Create a custom checkbox */
          .checkmark {
              //position: absolute;
              height: 0.9em;
              width: 0.9em;
              background-color:white;
              border:2px solid rgba($raven_grey,1);
              border-radius: 20%;
          }
          /* Style the checkmark/indicator */
          .checkmark:after {
               left: 7px;
               top: 4px;
              width: 3px;
              height: 8px;
              border: solid white;
              border-width: 0 2px 2px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
              content: "";
              position: absolute;
              display: none;
            }
            /*when checkbox is disabled */
            input:disabled ~ .checkmark {
              opacity:0.4;
            }
        }
      }
    }

    

   
  }
  .switchDiv{
    flex-basis: 95%;
    /* flex-wrap: wrap; */
    display: flex;
    padding: 3em 0em 0em 0em;
    /* justify-content: space-around; */
    /* width: 100%; */

    h1{
      color: #001C33;	
      font-size: 20px;	
      font-weight: bold;	
      letter-spacing: -0.42px;	
      line-height: 27px;
    }
  }

  @include breakpoint($tablet) {
    article.notifications-page {

      &--details {
          padding: 2em 0em 2em 0.3em;
      } 
     &--notifications {
        
        flex-basis: 60%;
       
      }
      
    }

      .switchDiv{
        flex-basis: 60%;
      }
    
  }
}
  /*.t__settings-page {
    display: flex;
    border: 1px solid blue;
    flex-direction: column;
  
    article.notifications-page {
      &--details {
        border: 1px solid orange;
      }
  
      &--notifications {
        border: 1px solid maroon;
        .titles {
          display: flex;
          justify-content: space-between;
        }
        .statuses {
          display: flex;
          justify-content: space-between;
          margin: 0 1.5em;
  
          .checkboxes {
            display: flex;
            justify-content: space-between;
            
            input[type="checkbox" i] {
              -webkit-appearance: checkbox;
              box-sizing: border-box;
              visibility: unset;
            }
          }
        }
      }
    }
  
    @include breakpoint($tablet_landscape) {
      article.notifications-page {
        &--details {
        }
  
        &--notifications {
          margin: 0;
        }
      }
    }
  
    @include breakpoint($tablet) {
      article.notifications-page {
        &--details {
        }
  
        &--notifications {
          margin: 0;
        }
      }
    }
  }*/
  
  

  
/*.t__settings-page {
  display: flex;
  border: 1px solid blue;
  flex-direction: column;

  article.notifications-page {
    &--details {
      border: 1px solid orange;
    }

    &--notifications {
      border: 1px solid maroon;
      .titles {
        display: flex;
        justify-content: space-between;
      }
      .statuses {
        display: flex;
        justify-content: space-between;
        margin: 0 1.5em;

        .checkboxes {
          display: flex;
          justify-content: space-between;
          
          input[type="checkbox" i] {
            -webkit-appearance: checkbox;
            box-sizing: border-box;
            visibility: unset;
          }
        }
      }
    }
  }

  @include breakpoint($tablet_landscape) {
    article.notifications-page {
      &--details {
      }

      &--notifications {
        margin: 0;
      }
    }
  }

  @include breakpoint($tablet) {
    article.notifications-page {
      &--details {
      }

      &--notifications {
        margin: 0;
      }
    }
  }
}*/


