.t__students-page {
  background-color: rgba($default_white, 1);
  
  .students-page {
    &--submenu {
      display: flex;
      margin: 0;
      padding: 1.2em;
      box-shadow: 0px 1px 1px rgba($mystic_grey, 0.3);
    }

    &--table {
      margin: 0;
    }
  }

  @include breakpoint($tablet_landscape) {
    .students-page {
      &--submenu {
        padding: 1.2em 0;
        box-shadow: none;
      }

      &--table {
        padding: 0 0 0 0.6em;
      }
    }
  }
}
