.t__student-page {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba($default_white, 1);

  article.student-page {
    flex-basis: 100%;
    margin: 0;
    padding: 0.9em 1.2em;
    
    &--submenu {
      border-bottom: 1px solid rgba($mystic_grey, 0.6);

      .progress-bar {
        position: relative;
        margin: 1.2em 0 0;
        height: 20px;
        width: 100%;
        border-radius: 50px;
        background-color: rgba($mystic_grey, 1);
      }
      
      .filler {
        background: rgba($horizon_blue, 1) ;
        height: 100%;
        border-radius: inherit;
        transition: width .2s ease-in;
      }
    }

    &--table {
      padding: 1.2em 0;
    }
  }

  &--info,
  &--history {
    .funding-amount {
      display: none;
    }
  }

  @include breakpoint($tablet) {
    article.student-page {
      &--submenu {
        display: flex;
        border-bottom: none;
      }
    }

    &--info,
    &--history {
      .funding-amount {
        display: block;
      }
    }
  }

  @include breakpoint($tablet_landscape) {
    article.student-page {
      &--submenu {
        padding: 0.9em 0;
      }
    }
  }
}
