// .o__header-desktop {
//   display: flex;
//   align-items: center;
//   position: relative;

//   @include breakpoint($tablet) {
//     .header-profile-links {
//       z-index: $lowest_index;
//       opacity: 0;
//       pointer-events: none;
//       position: absolute;
//       padding: 2.2em 1.2em 1.2em;
//       top: -10px;
//       left: 50%;
//       transform: translateX(-50%);
//       width: 140%;
//       background-color: rgba($catskill_white, 1);
//       border: 1px solid rgba($mystic_grey, 1);
//       border-radius: 20px;
//       box-shadow: 2px 3px 3px rgba($mystic_grey, 0.6);
//       transition: opacity 0.3s;

//       a {
//         display: flex;
//         padding: 1.2em 0 0;
//       }

//       svg {
//         margin: 0 1.2em 0 0;
//       }
//     }

//     .header-profile-checkbox {
//       z-index: $high_index;
//     }

//     #header-profile-checkbox {
//       &:checked ~ .header-profile-links {
//         z-index: $medium_index;
//         opacity: 1;
//         pointer-events: all;
//       }

//       &:checked ~ label > svg  {
//         transform: rotateY(180deg);
//       }
//     }
//   }
// }
