// .o__header-desktop--notifications {
//     position: relative;
//     margin: 0 0 0 1.2em;

//     &::after {
//       display: inline-block; 
//       position: absolute;
//       top: 5px;
//       left: -5px;
//       content: "\A";
//       width: 10px;
//       height: 10px;
//       border-radius: 50%;
//       background: rgba($vemo_blue, 1);
//     }

//     .notifications-checkbox {
//       z-index: $high_index;
//     }

//     .notifications-list {
//       z-index: $lowest_index;
//       opacity: 0;
//       pointer-events: none;
//       position: absolute;
//       margin: 0;
//       top: 0;
//       right: 0;
//       width: 320px;
//       border-radius: 20px;
//       background-color: rgba($default_white, 1);
//       transition: opacity 0.3s;
//     }

//     .notifications-background {
//       z-index: $lowest_index;
//       pointer-events: none;
//       opacity: 0;
//       position: fixed;
//       margin: 0;
//       top: 0;
//       right: 0;
//       bottom: 0;
//       left: 0;
//       transition: opacity 0.3s;
//       background-color: rgba($mystic_grey, 0.3);
//     }

//     #notifications-checkbox {
//       &:checked ~ article.notifications-list {
//         z-index: $highest_index;
//         opacity: 1;
//         pointer-events: all;
//       }

//       &:checked ~ article.notifications-background {
//         pointer-events: all;
//         opacity: 1;
//         z-index: $higher_index;
//       }
//     }
//   }
