// .o__header-desktop--search {
//   padding: 0.3em 0 0.3em 3.2em;
//   border: 1px solid rgba($mystic_grey, 1);
//   border-radius: 30px;
//   background-color: rgba($catskill_white, 1);
//   transition: 0.3s all;

//   input.search-input {
//     margin: 0 0.6em 0 0;
//     padding: 0.4em 0;
//     width: 230px;
//     font-size: 0.9em;
//     color: rgba($raven_grey, 1);
//   }

//   p {
//     padding: 0.4em 1.8em 0.4em 1.2em;
//     color: rgba($raven_grey, 1);
//     border-left: 1px solid rgba($mystic_grey, 1);
//   }
  
//   span.search-button {
//     display: none;
//     cursor: pointer;
//     padding: 0.3em 0.6em;
//     margin: 0 0.3em;
//     border-radius: 30px;
//     background-color: rgba($highlight_blue, 1);
//     color: rgba($catskill_white, 1);
//     text-transform: uppercase;
//   }

//   article.header-filter-options {
//     z-index: $lowest_index;
//     opacity: 0;
//     pointer-events: none;
//     position: absolute;
//     padding: 2.2em 1.2em 1.2em;
//     top: 50px;
//     left: 50%;
//     transform: translateX(-50%);
//     width: 140%;
//     background-color: rgba($catskill_white, 1);
//     border: 1px solid rgba($mystic_grey, 1);
//     border-radius: 20px;
//     box-shadow: 0px 0px 50px -1px rgba($mystic_grey, 0.6);
//     transition: opacity 0.3s;
//   }

//   article.header-search-background {
//     z-index: $lowest_index;
//     pointer-events: none;
//     opacity: 0;
//     position: fixed;
//     margin: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     transition: opacity 0.3s;
//     background-color: rgba($mystic_grey, 0.3);
//   }

//   #header-filter-toggle {
//     &:checked ~ article.header-filter-options {
//       z-index: $medium_index;
//       opacity: 1;
//       pointer-events: all;
//     }

//     &:checked ~ svg#svg-arrow-down {
//       transform: translateY(-50%) rotate(180deg);
//     }

//     &:checked ~ article.header-search-background {
//       pointer-events: all;
//       opacity: 1;
//       z-index: $higher_index;
//     }
//   }

//   svg#svg-search {
//     z-index: $high_index;
//     position: absolute;
//     bottom: 0;
//     left: 10px;
//     top: 50%;
//     transform: translateY(-50%);
//   }

//   svg#svg-arrow-down {
//     z-index: $high_index;
//     position: absolute;
//     bottom: 0;
//     right: 5px;
//     top: 50%;
//     transform: translateY(-50%);
//     fill: rgba($raven_grey, 1);
//   }

//   &.search-active {
//     background-color: rgba($default_white, 1);
//     border: 2px solid rgba($highlight_blue, 1);
//     box-shadow: 1px 1px rgba($raven_grey, 0.6);

//     input.search-input {
//       width: 180px;
//     }

//     span.search-button {
//       display: inline-block;
//     }
//   }
// }
