.o__program-info {
  display: flex;
  flex-direction: column;
  

  .info-cell {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
    
    .main{
      font-size: 0.75rem;
      color:rgba($raven_grey,1);
      display: inline-flex;
      align-items: center;
    }

    .label{
      display: inline-flex;
      align-items: center;
    }

    @include breakpoint($tablet) {
      margin-bottom: 3rem;
      width: 33.333333%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .info-card {
    margin: 1rem 0 2rem;

    &:last-child {
      margin-bottom: 0;
    }
    .title {
      font-size: 1.25rem;
    }
  }

  .student-info-block {
    border: 1px solid $mystic_grey;
    border-radius: 10px;
    flex-basis: 100%;
    margin-top: 0.75rem;
    padding: 1rem;

    @include breakpoint($tablet) {
      padding: 2rem;
    }

    span {
      display: block;
      margin: 0 0.6rem;

      &:not(:first-of-type) {
        margin: 1.2em 0 0;
      }

      p {
        display: block;
        margin: 0 0 0.3em;
        color: rgba($raven_grey, 1);
      }
    }
  }
}
