@import '../../../scss/globals.scss';

$sidebarWidth: 200px;

.t-sidebarFixed {
  display: grid;
  min-height: 100vh;
  grid-template:
    "sidebar header"
    "sidebar content" minmax(min-content, 100%) / $sidebarWidth auto;
  column-gap: 1.25rem;

  &-header {
    margin: 0;
    color: #333;
    text-align: center;
    grid-area: header;
  }

  &-sidebar {
    grid-area: sidebar;
  }

  &-content {
    grid-area: content;
  }

  &-footer {
    grid-area: footer;
  }
}