@import '../../scss/globals.scss';

.m-blockButton {
  @include font--small;
  background: none;
  border: 0;
  cursor: pointer;
  display: flex;
  align-content: stretch;
  margin: 0;
  width: 100%;
  outline: none;

  &-wrapper {
  }

  &:hover,
  &:focus {
    background: $off-white--accent;
  }

  &:active {
    background-color: $off-white;
  }
}
