@import "~/app/assets/css/atoms/global/_variables.scss";
@import "~/app/assets/css/atoms/global/_mixins.scss";
.withdrawnContainer {
	width: initial;
	background-color: rgba($catskill_white, 1);
	margin: auto -24px;
	margin-top: 1em;
	padding-bottom: 2em;
	&--inner {
		margin-left: 6%;
		padding-top: 2em;
		width: 84%;
	}
	.innerheader {
		color: rgba($raven_grey, 1);
		letter-spacing: 1.5px;
		text-transform: uppercase;
		display: block;
		margin-top: 2em;
		margin-left: 1%;
	}
	.char_limits {
		float: right;
		font-weight: 500;
		color: rgba($raven_grey, 1);
	}
	.more_information {
		span {
			font-size: 1.25rem;
			font-weight: bold;
		}
		p {
			color: rgba($raven_grey, 1);
			font-weight: 500;
		}
	}
	.input_message {
		font-weight: 500;
	}
	.no_student_message {
		color: rgba($raven_grey, 1);	
		font-weight: 600;	
		line-height: 17px;	
		text-align: center;
		margin-top: 1.8em;
	}
	section {
		margin: 0;
		label {
			color: rgba($raven_grey, 1);
			font-size: 0.75rem;
			font-weight: 500;
			line-height: 15px;
			margin-top: 2em;
		}
		.studentInfo {
			display: flex;
			flex-direction: column;
			flex-basis: 50%;
		}
	}
	.studentInfoSection {
		padding: 2% 2% 2% 0;
		width: auto;
	}
	.program-info {
		color: rgba($raven_grey, 1);
		font-weight: 600;
	}
	.input-error-label{
		display: none;
		font-weight: 500;
	}
	.notes-section {
		width: 100%;
		margin-top: 1.5em;
		color: rgba($raven_grey, 1);
		h5{
			color: rgba($midnight, 1);
			font-weight: 600;
		}
		.notesBox {
			height: 126px;
			&:disabled {
				background-color: rgba($catskill_white, 1);
				border: 1px solid rgba($mystic_grey, 1);
			}
			&:focus {
				border: 2px solid #0073d1;
				box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
				+div {
					color: #0073d1;
					h5 {
						color: #0073d1;
					}
					h6{
						color: #0073d1;
					}
				}
			}
		}
	}
	.notesError {
		margin-top: 1em;
		color: #d92d27;
		width: 100%;
		.input-error-label{
		    font-weight: 500;
            display: block;
		}
		.input_message {
			display: none;
		}
		.notesBox {
			border: 2px solid #d92d27;
			margin-top: 3px;
			margin-bottom: 4px;
			height: 126px;
			
		}
		.char_limits {
			color: #d92d27;
		}
	}
	.dates-section {
		width: 100%;
		margin-top: 2.5em;
		color: rgba($raven_grey, 1);
		h5 {
		  	margin-bottom: 3px;
			color: rgba($midnight, 1);
			font-weight: 600;
		}
		.input-error-label {
			display: none;
		}
		input[type="date"] {
			margin-bottom: 4px;
			&:focus {
				border: 2px solid #0073d1;
				box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
				+h5 {
					color: #0073d1;
				}
			}
			&:disabled {
				background-color: rgba($catskill_white, 1);
				border: 1px solid rgba($mystic_grey, 1);
			}
		}
	}
	.dateError {
		margin-top: 1em;
		width: 100%;
		color: #d92d27;
		.input-error-label {
			font-weight: 500;
			display: block;
		}
		.input_message {
			display: none;
		}
		input[type="date"] {
			border: 2px solid #d92d27;
			margin-top: 3px;
			margin-bottom: 4px;
			&:disabled {
				background-color: rgba($catskill_white, 1);
				border: 1px solid rgba($mystic_grey, 1);
			}
		}
	}
	.agreement_section {
		margin-top: 1.6em;
		width: 100% ;
		h3{
			font-weight: 500;
		}
	}
}

@include breakpoint($tablet) {
	.withdrawnContainer {
		margin-top: 1.5em;
		&--inner {
			width: 52.08%;
			margin-left: 23%;
			padding-top: 2em;
		}
		.innerheader {
			margin-left: 0%;
		}
		section {
			.studentInfo {
				flex-basis: 50%;
			}
		}
		.studentInfoSection {
			padding: 2%;
			width: 25.125em;
		}
		.notes-section {
			width: 100%;
		}
	}
}