@import '~/app/assets/css/atoms/global/_variables.scss';
@import '~/app/assets/css/atoms/global/_mixins.scss';
.m-blockButton {
	// &:hover,
	// &:focus {
	// 	background: #0073D1
	// }
	&-cancel {
		height: 54px;
		width: 7.813em;
		border: 1px solid rgba(64, 99, 128, 0.2);
		border-radius: 27px;
		background-color: rgba($catskill_white, 1);
		padding: 0;
		display: inline-block;
		font-size: 0.8125rem;
		font-weight: bold;
		letter-spacing: 1.5px;
		line-height: 16px;
		margin-bottom: 10px;
		color: rgba($raven_grey, 1);
	}
	&-cancel:hover {
		background-color: rgba($catskill_white, 1);
	}
	&-submit {
		height: 54px;
		width: 7.813em;
		border-radius: 27px;
		background-color: #0073D1;
		color: rgba($default_white, 1);
		padding: 0;
		display: inline-block;
		margin-left: 0px;
		font-size: 0.8125rem;
		font-weight: bold;
		letter-spacing: 1.5px;
		line-height: 16px;
		margin-left: 10px;
	}
	&-submit:hover {
		background-color: #0073D1;
	}
	&-submit:disabled {
		background-color: #03416F;
		color: rgba($default_white, 0.6);
	}
	&-exit_modal_button{
		text-transform: uppercase;
		width: 17.875rem;
		margin-bottom: 1.5rem;
		margin-left: 0;
	  	@media only screen and (max-width: 600px) {
			width: 15.625rem;
		}
	  }
	&-thanks_modal_button{
		text-transform: uppercase;
		width: auto;
		margin-bottom: 1.5rem;
		margin-left: 0;
		padding: 0 2rem;
	  }
}

.statusContainer {
	width: auto;
	margin-left: 0;
	margin-right: -13px;
	&--inner {
		width: 97%;
	}
}

.current-status-label {
	color: rgba($raven_grey, 1);
	font-weight: 500;
	margin-top: 15px;
	display: block;
	line-height: 15px;
}

.withStatus {
	h5 {
		margin-top: 13px;
		display: block;
	}
	p {
		display: none;
	}
	select:focus {
		border: 2px solid #0073D1;
		box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
		color: rgba($midnight, 1);
		font-size: 600;
		+h5 {
			color: #0073D1
		}
	}
	select:disabled {
		background-color: rgba($catskill_white, 1);
		border: 1px solid rgba($mystic_grey, 1);
	}
	select:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}
}

.no-status {
	h5 {
		margin-top: 13px;
		display: block;
		color: #D92D27
	}
	p {
		display: block;
		color: #D92D27;
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 15px;
	}
	select {
		color: rgba($raven_grey, 1);
		border: 2px solid #D92D27;
		border-radius: 4px;
	}
	select:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}
}

.button_section {
	text-align: center;
	width: auto;
	margin-top: 30px;
}

.MuiDialogContent-dividers {
	padding: 16px 24px;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	border-bottom: 0px solid rgba(0, 0, 0, 0.12)
}

.button_section_exit_modal {
    text-align: center;
    width: auto;
    margin-top: 30px;
}

@include breakpoint($tablet) {
	.statusContainer {
		width: 100%;
		margin-left: 0;
		&--inner {
			width: 56%;
			margin-left: 21%;
		}
	}
	.withStatus {
		select.new_status {
			width: 25em;
		}
	}
	.no-status {
		select.new_status {
			width: 25em;
		}
	}
	.button_section {
		width: 92%;
	}
}

.hidden {
    display: none;
}
