.o__student-payment {
  $warningColor: #d92d27;

  padding: 0.3em;
  h3 {
    text-transform: uppercase;

    color: #001c33;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
  .progress-bar {
    position: relative;
    margin: 0.5em 0 0.5em 0;
    height: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba($mystic_grey, 1);
    display: inline-flex;
  }
  .filler {
    background: rgba($horizon_blue, 1);
    height: 100%;
    transition: width 0.2s ease-in;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .warningfiller {
    //background-color:#D92D27;
    background-color: #f25a55;

    height: 100%;
    transition: width 0.2s ease-in;
  }

  .value {
    color: #001c33;
    font-size: 18px;
    font-weight: 500;
  }
  .sub {
    font-weight: bold;
    font-size: 26px;
    line-height: 27px;
    letter-spacing: -0.54px;
  }
  .title {
    color: #6d7378;
    font-size: 12px;
    font-weight: 500;
  }

  .received {
    font-size: 14px;
    font-weight: 600;
    color: #001c33;
  }

  .asofDate {
    color: #6d7378;
    font-size: 12px;
    font-weight: 500;
  }

  .progress-bar-remaining {
    float: right;
    color: #6d7378;
    font-size: 14px;
  }
  .progress-bar-total {
    color: #6d7378;
    font-size: 14px;
  }
  .progress-bar-used {
    color: #001c33;
    font-size: 14px;
    font-weight: 600;
  }

  .link {
    text-decoration: underline;
    color: #81878c;
  }
  .warning {
    color: $warningColor;
    svg {
      //margin-left: 6px;
    }
  }

  .tertiary {
    font-size: 12px;
    color: #d92d27;
    font-weight: 500;
  }
  .vemocontractNumber {
    color: #0f77c5;
    font-weight: bold;
    vertical-align: bottom;
    font-size: 16px;
    fill: #0f77c5;
    line-height: 19px;
  }

  .tooltip {
    position: relative;
    display: inline;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #193247;
    color: #fff;
    text-align: left;
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    /*left: 50%;*/
    margin-left: -90px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /* mobile*/
  .o__student_paymentbyISA {
    box-shadow: 0 0 3px 0 rgba(92, 125, 153, 0.5);
    border-radius: 10px;

    h3 {
      color: $midnight;
    }

    .title {
      line-height: 2;
    }

    .Collapsible__contentOuter {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .paymentbyisa_items {
      display: flex;
      padding: 1;
      //border: 1px solid $mystic_grey;
      border-radius: 10px;
      flex-direction: column;

      &--up {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
      }
      &--down {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    .paymentbyisa_items div:first-child {
      border-bottom: 1px solid #e4e4e4;
      //padding-bottom: 0.5em;
    }

    .paymentbyisa_items div.arrowIcon {
      border-top: 1px solid #e4e4e4;
      margin-top: 10px !important;
      padding: 10px;
      text-align: center;
      background-color: $catskill_white;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
    }
    .arrowIcon {
      &.desktopUp {
        display: none;
      }
      &.mobileUp {
        display: block;
      }
      p {
        display: inline;
      }
      &.mobileDown {
        display: block;
        font-size: 14px;
        font-weight: 600;
        line-height: 22px;
        border-top: 1px solid #e4e4e4;
        padding: 10px;
        text-align: center;
        background-color: $catskill_white;
      }
      svg {
        vertical-align: middle;
      }
    }
    .progress-bar {
      width: 80%;
    }
    .progress-bar-remaining {
      margin-right: 20%;
    }

    .paymentbyagreement_itemblocks {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .paymentbyisa_itemblock {
      display: flex;
      background-color: $catskill_white;
      padding: 0 0.6em;
      flex-wrap: wrap;
    }

    .paymentbyisa_itemsBlock {
      width: 100%;
      margin: 1%;
      flex-basis: 40%;
      .program-name {
        color: #001c33;
        font-size: 16px;
        font-weight: 500;
        text-transform: none !important;
        letter-spacing: normal !important;
      }
    }

    .section3 {
      flex-direction: column;
      border-top: 1px solid #e4e4e4;
    }
  }

  .student-paymentbehavior-block {
    width: unset;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 rgba(92, 125, 153, 0.5);
    //padding: 0.5em;
    //padding: 12pt 12pt 12pt 12pt;
    padding: 12pt;
    border-radius: 10px;
    margin: 1em 0 1.2em;
    display: flex;
    flex-direction: column;

    .main {
      color: #6d7378;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
    }

    .firstSection {
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 0.5em;
      margin-bottom: 0.5em;
    }

    .secondSection {
      display: flex;
      flex-direction: row;

      flex-wrap: wrap;
    }

    .secondSection > div {
      //padding: 5px;
      flex-basis: 50%;
    }

    &--monthlyIncome {
      sup {
        font-size: 25px;
      }

      h1 {
        font-size: 4em !important;
      }
    }

    p {
      color: #6d7378;
      font-size: 14px;
      font-weight: 500;
    }

    .asofDate {
      font-size: 12px;
    }

    &--autopay {
      width: 50%;
      &-off {
        color: $warningColor;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
      }
      &-on {
        color: #001c33;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
      }
    }

    .warning {
      color: $warningColor;
      svg {
        //margin-left: 6px;
      }
    }
  }
  /*END */

  /* Desktop and tablet*/
  @include breakpoint($tablet) {
    .student-paymentbehavior-block {
      width: unset;
      background-color: #ffffff;
      box-shadow: 0 0 3px 0 rgba(92, 125, 153, 0.5);
      padding: 24px 0 24px 21px;
      border-radius: 10px;
      margin: 1em 0 1.2em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .firstSection {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
        flex-basis: 33%;
      }

      .secondSection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 66%;
      }
      .secondSection > div {
        flex-basis: 50%;
        padding: 0;
      }

      p {
        //color: $raven_grey;
        color: #6d7378;
        //font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 500;
      }

      .asofDate {
        font-size: 12px;
      }

      &--monthlyIncome {
        sup {
          font-size: 18px;
        }
        h1 {
          font-size: 55px !important;
        }
      }
      &--autopay {
        &-off {
          color: $warningColor;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
        }
        &-on {
          color: #001c33;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
        }
      }
      .warning {
        color: $warningColor;
        svg {
          //margin-left: 6px;
        }
      }
    }

    .o__student_paymentbyISA {
      //box-shadow: 1px 1px 3px 0px $dark_grey;
      border-radius: 10px;

      h3 {
        color: $midnight;
      }
      .Collapsible__contentOuter {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .paymentbyisa_items {
        display: flex;
        padding: 3px;
        border: 1px solid $mystic_grey;
        border-radius: 10px;
        flex-direction: row;
        &--up {
          border-bottom-left-radius: unset;
          border-bottom-right-radius: unset;
        }
        &--down {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }

      .paymentbyisa_items div:first-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      .paymentbyisa_items div.arrowIcon {
        border-top: none;
        margin-top: 50px !important;
        text-align: inherit;
        background-color: white;
      }

      .arrowIcon {
        &.desktopUp {
          display: block;
        }
        &.mobileUp {
          display: none !important;
        }
        p {
          display: none;
        }
        &.mobileDown {
          display: none;
        }
        svg {
          vertical-align: unset;
        }
      }

      .progress-bar {
        width: 100%;
      }
      .progress-bar-remaining {
        margin-right: 0%;
      }

      .paymentbyagreement_itemblocks {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      .paymentbyisa_itemblock {
        display: flex;
        background-color: $catskill_white;
        padding: 0 0.6em;
        flex-wrap: nowrap;
      }

      .paymentbyisa_itemsBlock {
        width: 100%;
        margin: 1%;
        //flex-basis: 0%;
        .program-name {
          color: #001c33;
          font-size: 16px;
          font-weight: 500;
          text-transform: none !important;
          letter-spacing: normal !important;
          line-height: 20px;
        }
      }

      .section3 {
        flex-direction: row;
        border-top: none;
      }
    }
  }
  //end
}
