/* and for keyboard users, override everything with
   a Big Blue Border when focused on any element */
  body.user-is-tabbing *:focus {
    outline: 2px solid #7AACFE !important; /* for non-webkit browsers */
    outline: 5px auto -webkit-focus-ring-color !important;
  }
