html {
  // Higher quality rendering -- impacts performance
  text-rendering: optimizeLegibility !important;

  // Chrome & Opera
  -webkit-font-smoothing: antialiased !important;

  // Firefox on OSX
  -moz-osx-font-smoothing: grayscale !important;

  // IE -- Causes problems on safari
  // -webkit-text-shadow: rgba(255,255,255,0.01) 0 0 1px !important;
  // -webkit-text-stroke: rgba(255,255,255,0.01) 0.1px !important;
  // -webkit-text-stroke-width: 0.1px !important;
}

h1 {
  font-size: 1.625em;

  &.main {
    font-weight: 700;
    // color: rgba($midnight, 1);
  }
}

h2 {
  font-size: 0.8125em;

  &.main {
    font-weight: 700;
    text-transform: uppercase;
    // color: rgba($default_white, 1);
  }

  &.secondary {
    font-weight: 700;
    text-transform: uppercase;
    // color: rgba($raven_grey, 1);
  }
}

h3 {
  &.main {
    font-size: 1.125em;
    // font-weight: 500;
    // color: rgba($midnight, 1);
  }
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;

  &.secondary {
    font-weight: 500;
  }
}

h5 {
  font-size: 0.875em;

  &.main {
    font-weight: 500;
    // color: rgba($midnight, 1);
  }

  &.secondary {
    font-weight: 500;
    // color: rgba($raven_grey, 1);
  }

  &.tertiary {
    font-weight: 400;
    // color: rgba($raven_grey, 1);
  }
}

h6 {
  font-size: 0.75em;

  &.tertiary {
    font-weight: 400;
    // color: rgba($raven_grey, 1);
  }

  &.bold {
    font-weight: 700;
    // color: rgba($midnight, 1);
  }

  &.error {
    font-weight: 400;
    // color: rgba($error_red, 1);
  }

  &.hyperlink {
    font-weight: 400;
    // color: rgba($raven_grey, 1);
    text-transform: underline;
  }
}

p {
  display: inline;

  &.main {
    font-size: 12px;
    font-weight: 500;
    color: #6D7378;
  }

  &.secondary {
    font-size: 0.825em;
    font-weight: 300;
  }

  &.third {
    font-size: 12px;
    font-weight: 600;
    color: #001C33;
  }

  &.grey {
    // color: rgba($raven_grey, 1);
  }
}

@include breakpoint($tablet) {
  p {
    &.main {
      font-size: 12px;
      font-weight: 500;
      color: #6D7378;
    }

    &.secondary {
      font-size: 1em;
      font-weight: 300;
    }

    &.third {
      font-size: 12px;
      font-weight: 600;
      color: #001C33;
    }
  }
}
