html, body, main, footer, header, nav, hr, ul, li, a, h1, h2, h3, h4, h5, h6,
p, pre, input, button, form, select, option {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

*, *:after, *:before {
  box-sizing: inherit;
}

html, body {
  z-index: 100;
  height: 100%;
  overflow: hidden;
}

body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

header, nav {
  width: 100%;
}

ul, li, a, h1, h2, h3, h4, h5, h6, p, pre, input {
  font-family: $default_font;
  // font-weight: normal;
  list-style: none;
  text-decoration: none;
}

ul, li, a {
  color: $midnight;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $midnight;
  }

  // Salesforce revert
  margin-left: 0;
}

input, button, form, select, textarea, [role=button] {
  border: 0;
  background: transparent;

  &:focus {
    outline: none;
  }
}

input, button, form, select, textarea {
  appearance: none;
  border-radius: 0;
  -webkit-transform: translateZ(0%);
}

// Remove scrollbar for Chrome & Opera
// Auto-hide scrollbar for IE
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  ::-webkit-scrollbar {
    display: none;
  }
}

// Hide disabled options in select elements
select option[disabled] {
  display: none;
}

::placeholder {
  color: inherit;
}
