.o__notifications-table--row {
  display: block;
  margin: 0.6em 0;
  padding: 0.6em 0.9em;
  //border-radius: 5px;
  border-bottom: 1px solid rgba($mystic_grey, 1);
  margin-top: 40px;
  .table-row {
    &--notification-name {
      flex: 1 0 auto;
      width: 100%;
      color: rgba($midnight, 1);
      svg.svg-applications-fill {
        fill: #f7c964;
        position: relative;
        margin: 0 0.6em 0 0;
        top: unset;
        left: unset;
        min-width: 28px;
      }
    }
  }

  &.closed {
    background-color: rgba($mystic_grey, 0.6);

    .table-row {
      &--student-name {
        svg.svg-applications-fill {
          fill: rgba($horizon_blue, 1);
        }
      }
    }
  }

 svg.svg-arrow-up {
    display: none;
    position: absolute;
    right: 7%;
    transform: rotate(90deg);
    fill: rgba($raven_grey, 1);
  }
  

  @include breakpoint($tablet) {
    display: flex;
    padding-bottom: 1em;
    .table-row {
      &--notification-name {
        svg.svg-applications-fill {
          position: relative;
          margin: 0 0.3em 0 0;
          top: unset;
          left: unset;
        }
        h3{
          font-weight: 500;
        }
        h3.main{
          color:rgba($raven_grey, 1);
          font-size: inherit;
        }
        &--table-item{
          height: 38px;	
          width: 18.125em;	
          color: $midnight;	
          font-weight: 600;
          line-height: 19px;
        }
      }
      

      /*&--delete{
        svg.svg-delete{
          height: 60px;
          position: absolute;
          width: 60px;
          fill:rgba($raven_grey, 1);
        }
      }*/
      
     
    }
    svg.svg-arrow-up {
      display: block;
    }
    .dot{
      margin: -0.3em 0.4em 0 0.4em;
      position: relative;
      top:-0.1em;
    }
   
  }
}
