.o__notifications-table {
  align-items: center;
  

  .table-cell {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;

    &--notification-name {
      width: 100%;
    }

    &--notification-date {
      width: 100%;
      display: block;
      margin-left: 2.1em;
      div{
            width: 58%;
            line-height: 17px;
           
          }
      }
    
    &--notification-delete {
      svg.svg-delete{
        width: 66em;
        height: auto;
        position: absolute;
        fill: gray;
        //left: 89%;
        top: 50%;
      }
    }
  }

  @include breakpoint($tablet) {
    
    .table-cell {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      flex: 1;

      h4.secondary {
        display: none;
      }

      &--notification-name {
        width: 30%;
        
      }

      &--notification-date {
        width: 40%;
        display: block;
        margin-left: -2em;
        h5.main{
          color:rgba($midnight, 1);
          font-weight: 600;
          
        }
        h5{
          font-weight: 600;
        }
      
      }
      &--delete{
        width: 20%;
        display: block;
      }
    }
    
  }
}
