.o__students-table__agreements--row {
  .table-row {
    &--name {
      color: rgba($midnight, 1);
      
      svg {
        position: absolute;
        top: 2px;
        left: -35px;
        fill: rgba($dark_yellow, 1);
      }
    }

    &--program {
      color: rgba($raven_grey, 1);
    }

    &--funding {
      order: 5;
      color: rgba($raven_grey, 1);
    }

    &--start {
      order: 4;
      color: rgba($raven_grey, 1);
    }

    &--status {
      display: none;
    }
  }
  &:hover,
    &:focus {
      border: 0px solid rgba(64,99,128,0.2);	
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
  }

  svg.svg-arrow-up {
    display: none;
  }

  @include breakpoint($tablet) {
    .table-row {
      &--name {
        svg {
          flex: 1 0 auto;
          position: relative;
          margin: 0 0.6em 0 0;
          top: unset;
          left: unset;
          max-width: 22px;
        }

        h3 {
          margin: 0 0.9em 0 0;
          max-width: 90%;
          position: relative;
        }
      }

      &--program {
        p:last-of-type {
          display: none;
        }
      }

      &--funding {
        order: unset;
  
        p:first-of-type {
          display: none;
        }
      }

      &--start {
        order: unset;

        p:first-of-type {
          display: none;
        }
      }

      &--status {
        display: block;
      }
    }
  }
}
