.o__students-table__agreements {
  position: relative;
  padding: .9em 1.2em .9em 3.1em;

  .table-cell {
    &--name {
      width: 100%;
    }

    &--program {
      width: 100%;
      padding: 0 0 0.6em;
      font-weight: 500;
    }

    &-funding {}

    &--grad-date {
      padding: 0 1.2em 0 0;
      margin: 0 0.6em 0 0;
  
      &::after {
        content: '\2013';
        position: absolute;
        top: 40%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    &--status {
    }  
  }

  @include breakpoint($tablet) {
    padding: 0.9em 1.2em;
    
    .table-cell {
      &--name {
        width: 30%;
      }

      &--program {
        width: 15%;
        padding: 0;
        font-weight: unset;
      }

      &--funding {
        order: unset;
        width: 15%;
      }

      &--grad-date {
        order: unset;
        width: 20%;
        padding: 0;
        margin: 0;
  
        &::after {
          display: none;
        }
      }

      &--status {
        width: 20%;
      }
    }
  }
}
